<% provide(:title,       "Find Motorcycle Clubs In Your City") %>
<% provide(:description, "Connect with members of your local motorcycle club, and strengthen the passion for motoring in your own community.") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="clubs-hero">
  <div class="clubs-hero-content">
    
    <div class="row clubs-hero-text">

      <div class="col-md-3 clubs-hero-image">
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/car-clubs.jpg", 
                      class: "hidden-xs") %>
      </div>
      
      <div class="col-md-8 col-md-offset-1">

        <h1 class="clubs-hero-title">Connect Locally</h1>
        
        <h2 class="clubs-hero-subtitle">
          <% if params[:city].present? %>
            Find motorcycle clubs in <%= params[:city] %>
          <% else %>
            Find your motorcycle club online
          <% end %>
        </h2>
        
        <p class="clubs-hero-info">
          
          <% if params[:city].present? %>
            Find out more about <%= params[:city] %>'s most active motorcycle 
            clubs by selecting from the clubs below.
            
          <% else %>
            Connect with members of your local club, and strengthen the 
            passion for motoring within your community.
          <% end %>
        </p>
      </div>
    </div>
    
    <%= form_tag clubs_path, 
                 method: :get, 
                 class: "search-form-clubs" do %>
           
      <i class="fa fa-search fa-lg search-bar-primary-icon" 
         aria-hidden="true"></i>
        
      <%= text_field_tag :city, 
                         params[:city], 
                         placeholder: "Search by city (Eg. San Francisco, CA)", 
                         class: "form-control 
                                 clubs-form-control
                                 typeahead" %>

      <%= submit_tag "Search", class: "btn-forum" %>
    <% end %>
  </div>
</div>

<div class="clubs">
  
  <ol class="clubs-nav">
    
    <li><%= link_to "Community Center", discussions_path %></li>
            
    <li>
      
      <% if params[:city].present? %>
        <%= link_to clubs_path do %>
        
          <i class="fa fa-angle-right clubs-nav-separator"
             aria-hidden="true"></i>
             
          Motorcycle Clubs
        <% end %>
      
      <% else %>
      
        <i class="fa fa-angle-right clubs-nav-separator"
           aria-hidden="true"></i>
           
        Motorcycle Clubs
      <% end %>
    </li>
    
    <% if params[:city].present? %>
      <li>
        
        <i class="fa fa-angle-right clubs-nav-separator"
           aria-hidden="true"></i>
           
        <%= params[:city] %>
      </li>
    <% end %>
  </ol>
  
  <h2 class="clubs-list-title">
    <% if params[:city].present? %>
      Most active motorcycle clubs in <%= params[:city] %>
    <% else %>
      Most active motorcycle clubs 
    <% end %>
  </h2>
  
  <!--< if @clubs.exists? %>-->
    <ol class="clubs-list">
      <%= render @clubs %>
    </ol>
  <!--< end %>-->
</div>

<%= link_to new_club_path, class: "single-action" do %>
  <i class='fa fa-user-plus fa-lg single-action-icon'></i>
<% end %>