<% other = conversation.sender == 
           current_user ? conversation.recipient : conversation.sender %>
   
<li id="conversation-item-<%= conversation.id %>" class="conversation-item">
    
  <%= link_to conversation_messages_path(conversation)  do %>
    <table class="conversation-item-content">
      <tr>
        
        <td class="avatar-and-online">
          
          <% if other.id == conversation.sender_id && 
                  conversation.is_sender_anonymous == true %>
            <div class="conversation-avatar avatar-general", 
                 style="background-image: url(
                   https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/avatar.jpg)">
            </div>
            
          <% else %>
          
            <% if other.online? %>
              <div class="online online-md-primary hidden-xs"></div>
            <% end %>
            
            <% if other.dealership.present? %>
              <div class="conversation-avatar avatar-general", 
                   style="background-image: url('<%= other.dealership.photo.url() %>')">
              </div>
              
            <% else %>
              <div class="conversation-avatar avatar-general", 
                   style="background-image: url('<%= other.avatar.url(:thumb) %>')">
              </div>
            <% end %>
          <% end %>
        </td>
        
        <td>
          <div class="conversation-detail">
            
            <% if other.id == conversation.sender_id && 
                  conversation.is_sender_anonymous == true %>
              <p class="conversation-name">Anonymous</p>
            
            <% else %>
              <% if other.dealership.present? %>
                <p class="conversation-name"><%= other.dealership.dealership_name %></p>
              <% else %>
                <p class="conversation-name"><%= other.full_name %></p>
              <% end %>
            <% end %>
            
            <p class="conversation-date">
              <%= conversation.updated_at.strftime("%D") %>
            </p>
          </div>
        </td>
        
        <td class="conversation-container hidden-xs">
          <div class="conversation">
            <p class="conversation-content">
              <!--<(perc) if conversation.messages.exists? %>-->
                <%= sanitize conversation.messages.last.content %>
              <!--<(perc) else %>-->
              <!--  (No Messages)-->
              <!--<(perc) end %>-->
            </p>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
</li>