<!--completed-->
   
<li id="new-question-item-<%= question.id %>" class="new-question-item">
   
  <%= link_to questions_path do %>
    <table class="new-question-item-content">
      <tr>
        
        <td class="avatar-and-online">
          
          <% if question.is_anonymous == true %>
            <div class="new-question-avatar avatar-general", 
                 style="background-image: url(
                   https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/avatar.jpg)">
            </div>
            
          <% else %>
            
            <div class="new-question-avatar avatar-general", 
                 style="background-image: url('
                         <%= question.user.avatar.url(:thumb) %>')">
            </div>
            
            <% if question.user.online? %>
              <div class="online online-md-primary hidden-xs"></div>
            <% end %>
          <% end %>
        </td>
        
        <td>
          
          <% if question.is_anonymous == true %>
            <p class="new-question-name">Anonymous</p>
          <% else %>
            <p class="new-question-name"><%= question.user.full_name %></p>
          <% end %>
      
          <p class="conversation-date visible-xs-block">
            <%= time_ago_in_words(question.created_at).capitalize %> ago
          </p>
        </td>
        
        <td class="conversation-container hidden-xs">
          <div class="conversation">
            <p class="conversation-content">
              <%= question.content %>
            </p>
          </div>
        </td>
        
        <td>
          <p class="conversation-date hidden-xs">
            <%= time_ago_in_words(question.created_at).capitalize %> ago
          </p>
        </td>
      </tr>
    </table>
  <% end %>
</li>