<!--complete-->

<li id="post-item-<%= post.id %>" class="col-md-6 post-item">
  <div class="post-item-content">
      
    <div class="post-item-header">
      <div class="row vertical-align">
        
        <div class="col-xs-2">
          <div class="post-item-avatar avatar-general", 
               style="background-image: url(
                       '<%= post.user.avatar.url(:thumb) %>')">
          </div>
        </div>
        
        <div class="col-xs-10">
          <div class="post-item-overview">
          
            <span class="post-item-user">
              
              <%= link_to post.user.full_name, 
                          post.user, 
                          class: "post-item-user-name" %> 
            
              <% if logged_in? && post.user == current_user %>
                            
                ·
                
                <div class="post-item-edit">
                   
                  <%= link_to "Edit", edit_post_path(post) %>
                
                  <%= link_to "Delete", 
                              post_path(post), 
                              method: :delete, 
                              data: { confirm: "Are you sure?" } %>
                </div>
              <% end %>
            </span>
  
            <% if post.vehicle_make_id.present? %>
            
              <span class="post-item-vehicle-make">
                
                Posted in
                
                <%= link_to VehicleMake.find(post.vehicle_make_id).name, 
                            posts_vehicle_make_path(
                              VehicleMake.find(post.vehicle_make_id)
                            ) %>
              </span>
            <% end %>
          </div>
        </div> 
      </div>
    </div>
    
    <%= link_to 'javascript:;', class: "post-item-link" do %>
      <div class="post-item-photo">
        <% if post.photo.exists? %>
          <%= image_tag(post.photo.url(:small),
                        class: "cover-image") %>
        <% end %>
      </div>
    <% end %>
    
    <%= link_to 'javascript:;', class: "post-item-link" do %>
    
      <div class="post-item-body">
        
        <p class="post-item-caption">
          <%= post.content %>
        </p>

        <span class="post-item-time">
          <%= time_ago_in_words(post.created_at).capitalize %> ago
        </span>
        
        <div class="post-item-stats">
        
          <div class="stats-content">
            <%= post.cached_votes_up %> 
            <i class="fa fa-thumbs-o-up fa-lg stats-icon" aria-hidden="true"></i>
          </div>
      
          <div class="stats-content">
            <%= post.post_comments.count %> 
            <i class="fa fa-comment-o fa-lg stats-icon" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <!--<iframe src='https://www.youtube.com/embed/PfN7HKO0E2k?rel=0&autoplay=<(perc)= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>-->
</li>