<% provide(:title, 'Dashboard') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    
    <div class="dashboard-notifications">
      
      <h2 class="dashboard-title">Notifications</h3>
      
      <ul class="nav nav-tabs dashboard-tabs">
        <li class="active">
          <a href="#requests_and_inquiries" data-toggle="tab">
            Messages (<%= @conversations.count %>)
          </a>
        </li>
      </ul>
      
      <div class="tab-content dashboard-tab-content">
        
        <div class="tab-pane fade active in" id="requests_and_inquiries">
          <% if @conversations.exists? %>
            <ol class="tab-pane-list">
              <%= render partial:    "new_conversation", 
                         collection: @conversations, 
                         as:         :conversation %>
            </ol>
          
          <% else %>
            <div class="empty-list">
              <p class="empty-list-info">
                No recent messages
              </p> 
            </div>
          <% end %>
        </div>
        
        <div class="tab-pane fade" id="questions">
        </div>
      </div>
    </div>
    
    <div class="dashboard-test-drives">  
    
      <h2 class="dashboard-title">Customer Test Drives</h2>
      
      <% if @customers.exists? %>
        <ol class="dashboard-list">
          <%= render partial: "appointments/customer_dashboard", 
                     collection: @customers,
                     as: :customer %>
        </ol>
      
      <% else %>
        <div class="empty-list">
            
        <!--  <i class="fa fa-tachometer fa-4x empty-list-icon" -->
        <!--     aria-hidden="true"></i>-->
             
          <p class="empty-list-info">
            You have not accepted any test drive requests.
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // image scaling
    
      var conversationAvatar = $('.conversation-avatar');
      
      conversationAvatar.imagefill(); 
  })
</script>

<!--incorporate logged_in into dashboard-->