<!--completed-->

<% provide(:title, "New & Used Motorcycles For Sale") %>

<header class="hidden-xs header-fixed-hidden">
  <%= render 'layouts/header_secondary' %>
</header>

<header class="hidden-xs header-static-transparent">
  <%= render 'layouts/header_primary' %>
</header>

<header class="visible-xs header-static-transparent">
  <%= render 'layouts/header_primary' %>
</header>

<div class="modal" id="modal-special-offer-desktop" role="dialog">
  <%= render "layouts/modal_special_offer_desktop" %>
</div>

<div class="modal" id="modal-special-offer-mobile" role="dialog">
  <%= render "layouts/modal_special_offer_mobile" %>
</div>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="hidden-xs hero-desktop">
  
  <div class="hero-desktop-video-container">
    <video class="hero-desktop-video" 
           autoplay="autoplay"
           muted=true
           loop="loop">
      <source src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/hero-video.mp4" 
              type="video/mp4">
    </video>
  </div>
  
  <div class="hero-desktop-detail">
    
    <h1 class="hero-desktop-title">
      Motorcycles For Sale
    </h1>
    
    <h2 class="hero-desktop-info">
      Discover bikes in your own backyard
    </h2>
    
    <%= form_for_filterrific @filterrific, 
          url: search_vehicles_path, 
          html: { 
            id:    "filterrific-no-ajax-auto-submit",
            class: "hidden-xs search-form-primary" 
          } do |f| %>
          
      <div class="row search-form-primary-content">
        
        <div class="col-xs-3 search-bar-primary">
                       
          <%= f.collection_select(:with_vehicle_make_id,
                                  VehicleMake.all,
                                  :id,
                                  :name,
                                  { include_blank: true,
                                    prompt: "All makes" },
                                  id: "vehicle-make-home",
                                  class: "form-control 
                                          search-select-primary") %>

          <i class="fa fa-search fa-lg search-bar-primary-icon" 
             aria-hidden="true"></i>
          
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
        
        <div class="col-xs-3 search-bar-primary">
          
          <%= f.grouped_collection_select(:with_vehicle_model_id,
                                          VehicleMake.order(:name),
                                          :vehicle_models_above_zero,
                                          :name,
                                          :id,
                                          :name_with_count,
                                          { include_blank: true,
                                            prompt: "All models" },
                                          id: "vehicle-model-home",
                                          class: "form-control 
                                                  search-select-secondary") %>
                       
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
        
        <div class="col-xs-4 search-bar-primary">
          
          <i class="fa fa-map-pin fa-lg search-bar-primary-icon" 
             aria-hidden="true"></i>
          
          <%= f.text_field :with_zip_code, 
                           placeholder: "ZIP Code", 
                           class: "form-control 
                                   search-form-control 
                                   typeahead" %>
        </div>

        <div class="col-xs-2 search-button-primary">
          <%= f.submit "Search", class: "btn btn-search" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="hero-mobile-container visible-xs">
  <div class="hero-mobile">
    
    <div class="hero-mobile-detail">
      
      <h1 class="hero-mobile-title">Motorcycles For Sale</h1>
      
      <h2 class="hero-mobile-info">
        Discover bikes in your own backyard
      </h2>
      
      <div class="hero-mobile-search">
        <%= form_for_filterrific @filterrific, 
            url: search_vehicles_path, 
            html: { 
              id:    "filterrific-no-ajax-auto-submit",
              class: "search-form-primary" 
            } do |f| %>
          
          <div class="row search-form-primary-content">  
          
            <div class="col-xs-6 search-bar-primary">
                           
              <%= f.collection_select(:with_vehicle_make_id,
                                      VehicleMake.all,
                                      :id,
                                      :name,
                                      { include_blank: true,
                                        prompt: "All makes" },
                                      id: "vehicle-make-mobile",
                                      class: "form-control
                                              search-form-control
                                              search-select-primary") %>
    
              <i class="fa fa-search fa-lg search-bar-primary-icon" 
                 aria-hidden="true"></i>
              
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
            
            <div class="col-xs-6 search-bar-primary">
              
              <%= f.grouped_collection_select(:with_vehicle_model_id,
                                              VehicleMake.order(:name),
                                              :vehicle_models_above_zero,
                                              :name,
                                              :id,
                                              :name_with_count,
                                              { include_blank: true,
                                                prompt: "All models" },
                                              id: "vehicle-model-mobile",
                                              class: "form-control
                                                      search-form-control
                                                      search-select-secondary") %>
                           
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>
              
          <div class="row search-form-primary-content">
            
            <div class="col-xs-10 search-bar-primary">
              
              <i class="fa fa-map-pin fa-lg search-bar-primary-icon" 
                 aria-hidden="true"></i>
              
              <%= f.text_field :with_zip_code, 
                               placeholder: "ZIP Code", 
                               class: "form-control 
                                       search-form-control 
                                       typeahead" %>
            </div>
    
            <div class="col-xs-2 search-button-primary">
              <%= button_tag(type:  "submit", 
                             class: "btn btn-search") do %>
                <i class="fa fa-lg fa-search search-button-icon-mobile"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  
    <div class="hero-mobile-gradient"></div>
  </div>
</div>

<div class="hidden-xs offerings">
  <div class="row offerings-content">

      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Transparency</h3>
        
        <h4 class="offerings-info">
          View dealer reviews, price histories, and local-market price analyses
        </h4>
      </div>
      
      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Detailed Guides</h3>
        
        <h4 class="offerings-info">
          Browse photo galleries and motorcycle brochures
        </h4>
      </div>
      
      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Stress-free Purchasing</h3>
        
        <h4 class="offerings-info">
          Use in-app messaging to negotiate the right price
        </h4>
      </div>
  </div>
</div>

<div id="feed-container">
  <div class="feed">
    
    <div class="feed-content">
      
      <h2 class="feed-title">Find motorcycles for sale in...</h2>
      
      <h3 class="feed-info">
        Discover bikes being sold throughout California.
      </h3>
      
      <div class="cities">
        
        <div class="row-modified">
          
          <div class="col-md-6-modified col-xs-6-modified">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :near_city, value: "Los Angeles, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city") do %>
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/los-angeles-medium.jpg', 
                              class: "cover-image",
                              alt: "New and used motorcycles for sale in Los Angeles, CA.") %>
                
                <div class="overlay"></div>
                
                <span class="city-title">Los Angeles</span>
                
                <span class="city-subtitle">
                  <%= pluralize(Vehicle.near('Los Angeles, CA').count(:all),
                                "Motorcycle") %>
                </span>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-md-3-modified col-xs-6-modified">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :near_city, value: "San Jose, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city") do %>
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/san-jose-medium.jpg', 
                              class: "cover-image",
                              alt: "New and used motorcycles for sale in San Jose, CA.") %>
                
                <div class="overlay"></div>
                
                <span class="city-title">San Jose</span>
                
                <span class="city-subtitle">
                  <%= pluralize(Vehicle.near('San Jose, CA').count(:all),
                                "Motorcycle") %>
                </span>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-md-3-modified hidden-xs">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :near_city, value: "San Diego, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city") do %>
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/san-diego-medium.jpg', 
                              class: "cover-image",
                              alt: "New and used motorcycles for sale in San Diego, CA.") %>
                
                <div class="overlay"></div>
                
                <span class="city-title">San Diego</span>
                
                <span class="city-subtitle">
                  <%= pluralize(Vehicle.near('San Diego, CA').count(:all),
                                "Motorcycle") %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
        
        <div class="row-modified visible-xs">
          
          <div class="col-xs-6-modified">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :near_city, value: "San Diego, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city") do %>
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/san-diego-medium.jpg', 
                              class: "cover-image",
                              alt: "New and used motorcycles for sale in San Diego, CA.") %>
                
                <div class="overlay"></div>
                
                <span class="city-title">San Diego</span>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-xs-6-modified">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :near_city, value: "Long Beach, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city") do %>
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/long-beach-medium.jpg', 
                              class: "cover-image",
                              alt: "New and used motorcycles for sale in Long Beach, CA.") %>
                
                <div class="overlay"></div>
                
                <span class="city-title">Long Beach</span>
              <% end %>
            <% end %>
          </div>
        </div>
        
        <div class="row-modified">
          
          <div class="col-md-3-modified hidden-xs">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :near_city, value: "Long Beach, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city") do %>
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/long-beach-medium.jpg', 
                              class: "cover-image",
                              alt: "New and used motorcycles for sale in Long Beach, CA.") %>
                
                <div class="overlay"></div>
                
                <span class="city-title">Long Beach</span>
                
                <span class="city-subtitle">
                  <%= pluralize(Vehicle.near('Long Beach, CA').count(:all),
                                "Motorcycle") %>
                </span>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-md-3-modified col-xs-6">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :near_city, value: "Oakland, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city") do %>
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/oakland-medium.jpg', 
                              class: "cover-image",
                              alt: "New and used motorcycles for sale in Oakland, CA.") %>
                
                <div class="overlay"></div>
                
                <span class="city-title">Oakland</span>
                
                <span class="city-subtitle">
                  <%= pluralize(Vehicle.near('Oakland, CA').count(:all),
                                "Motorcycle") %>
                </span>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-md-6-modified col-xs-6">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :near_city, value: "San Francisco, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city") do %>
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/san-francisco-medium.jpg', 
                              class: "cover-image",
                              alt: "New and used motorcycles for sale in San Francisco, CA.") %>
                
                <div class="overlay"></div>
                
                <span class="city-title">San Francisco</span>
                
                <span class="city-subtitle">
                  <%= pluralize(Vehicle.near('San Francisco, CA').count(:all),
                                "Motorcycle") %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="feed-content">
      
      <h2 class="feed-title">What are you looking for?</h3>
      
      <h3 class="feed-info">
        Personalize your results by
        
        <% if current_user && current_user.personalized_search.present? %>
          <%= link_to "choosing your own preferences",
                      style_personalized_search_path(
                        current_user.personalized_search
                      ),
                      class: "preferences-link" %>.
                      
        <% else %>
          <%= link_to "choosing your own preferences",
                      survey_personalized_searches_path,
                      class: "preferences-link" %>.
        <% end %>
      </h3>
          
      <div class="personalized-search-list">
        <div class="personalized-search-list-content">

          <div class="personalized-search-row">
          
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Cafe Racer" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-a") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Cafe Racer
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-a.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Cruiser" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-b") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Cruiser
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-b.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Dirt Bike / Dual-Sport" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-c") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Dirt Bike
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-c.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Dirt Bike / Dual-Sport" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-d") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Dual-Sport
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-d.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Mini / Pocket" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-e") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Mini / Pocket
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-e.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
          </div>
          
          <div class="personalized-search-row">
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Moped" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-f") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Moped
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-f.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Sportbike" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-g") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Sportbike
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-g.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Standard" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-h") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Standard
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-h.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Touring" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-i") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Touring
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-i.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Trike" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-j") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Trike
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-j.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
          </div>  
        </div>
      </div>
    </div>
    
    <div class="feed-content">
      
      <h2 class="feed-title">Browse popular motorcycle makes</h2>
      
      <h3 class="feed-info">
        Discover thousands of bikes from each manufacturer.
      </h3>
      
      <div class="manufacturers">
        
        <div class="row-modified">
        
          <div class="col-md-3-modified col-xs-6-modified">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :with_vehicle_make_id, value: 1 %>
              
              <%= button_tag(type:  "submit", 
                             class: "manufacturer") do %>
                
                <%= image_tag( (VehicleMake.find(1).cover_photo_url.gsub '-large', '-medium'), 
                                class: "cover-image",
                                alt: "New and used #{ VehicleMake.find(1).name } motorcycles for sale.") %>
                
                <div class="overlay"></div>
                
                <span class="manufacturer-title">
                  <%= VehicleMake.find(1).name %>
                </span>
                
                <span class="manufacturer-subtitle">
                  <%= pluralize(Vehicle.where(vehicle_make_id: 1).count(:all),
                                "Motorcycle") %>
                </span>
              <% end %>
            <% end %>
          </div>
            
          <div class="col-md-3-modified col-xs-6-modified">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :with_vehicle_make_id, value: 2 %>
              
              <%= button_tag(type:  "submit", 
                             class: "manufacturer") do %>
                
                <%= image_tag( (VehicleMake.find(2).cover_photo_url.gsub '-large', '-medium'), 
                                class: "cover-image",
                                alt: "New and used #{ VehicleMake.find(2).name } motorcycles for sale.") %>
                
                <div class="overlay"></div>
                
                <span class="manufacturer-title">
                  <%= VehicleMake.find(2).name %>
                </span>
                
                <span class="manufacturer-subtitle">
                  <%= pluralize(Vehicle.where(vehicle_make_id: 2).count(:all),
                                "Motorcycle") %>
                </span>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-md-6-modified hidden-xs">
            <%= form_for_filterrific @filterrific,
                                     url: search_vehicles_path,
                                     html: {
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
              
              <%= f.hidden_field :with_vehicle_make_id, value: 3 %>
              
              <%= button_tag(type:  "submit", 
                             class: "manufacturer") do %>
                
                <%= image_tag( (VehicleMake.find(3).cover_photo_url.gsub '-large', '-medium'), 
                                class: "cover-image",
                                alt: "New and used #{ VehicleMake.find(3).name } motorcycles for sale.") %>
                
                <div class="overlay"></div>
                
                <span class="manufacturer-title">
                  <%= VehicleMake.find(3).name %>
                </span>
                
                <span class="manufacturer-subtitle">
                  <%= pluralize(Vehicle.where(vehicle_make_id: 3).count(:all),
                                "Motorcycle") %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="row-modified">
        
        <div class="col-xs-6-modified visible-xs">
          <%= form_for_filterrific @filterrific,
                                   url: search_vehicles_path,
                                   html: {
                                     id: "filterrific-no-ajax-auto-submit",
                                   } do |f| %>
            
            <%= f.hidden_field :with_vehicle_make_id, value: 3 %>
            
            <%= button_tag(type:  "submit", 
                           class: "manufacturer") do %>
              
              <%= image_tag( (VehicleMake.find(3).cover_photo_url.gsub '-large', '-medium'), 
                              class: "cover-image",
                              alt: "New and used #{ VehicleMake.find(3).name } motorcycles for sale.") %>
              
              <div class="overlay"></div>
              
              <span class="manufacturer-title">
                <%= VehicleMake.find(3).name %>
              </span>
            <% end %>
          <% end %>
        </div>
        
        <div class="col-xs-6-modified visible-xs">
          <%= form_for_filterrific @filterrific,
                                   url: search_vehicles_path,
                                   html: {
                                     id: "filterrific-no-ajax-auto-submit",
                                   } do |f| %>
            
            <%= f.hidden_field :with_vehicle_make_id, value: 4 %>
            
            <%= button_tag(type:  "submit", 
                           class: "manufacturer") do %>
              
              <%= image_tag( (VehicleMake.find(4).cover_photo_url.gsub '-large', '-medium'), 
                              class: "cover-image",
                              alt: "New and used #{ VehicleMake.find(4).name } motorcycles for sale.") %>
              
              <div class="overlay"></div>
              
              <span class="manufacturer-title">
                <%= VehicleMake.find(4).name %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
      
      <div class="row-modified">
        
        <div class="col-md-6-modified hidden-xs">
          <%= form_for_filterrific @filterrific,
                                   url: search_vehicles_path,
                                   html: {
                                     id: "filterrific-no-ajax-auto-submit",
                                   } do |f| %>
            
            <%= f.hidden_field :with_vehicle_make_id, value: 4 %>
            
            <%= button_tag(type:  "submit", 
                           class: "manufacturer") do %>
              
              <%= image_tag( (VehicleMake.find(4).cover_photo_url.gsub '-large', '-medium'), 
                              class: "cover-image",
                              alt: "New and used #{ VehicleMake.find(4).name } motorcycles for sale.") %>
              
              <div class="overlay"></div>
              
              <span class="manufacturer-title">
                <%= VehicleMake.find(4).name %>
              </span>
              
              <span class="manufacturer-subtitle">
                <%= pluralize(Vehicle.where(vehicle_make_id: 4).count(:all),
                              "Motorcycle") %>
              </span>
            <% end %>
          <% end %>
        </div>
          
        <div class="col-md-3-modified col-xs-6-modified">
          <%= form_for_filterrific @filterrific,
                                   url: search_vehicles_path,
                                   html: {
                                     id: "filterrific-no-ajax-auto-submit",
                                   } do |f| %>
            
            <%= f.hidden_field :with_vehicle_make_id, value: 5 %>
            
            <%= button_tag(type:  "submit", 
                           class: "manufacturer") do %>
              
              <%= image_tag( (VehicleMake.find(5).cover_photo_url.gsub '-large', '-medium'), 
                              class: "cover-image",
                              alt: "New and used #{ VehicleMake.find(5).name } motorcycles for sale.") %>
              
              <div class="overlay"></div>
              
              <span class="manufacturer-title">
                <%= VehicleMake.find(5).name %>
              </span>
              
              <span class="manufacturer-subtitle">
                <%= pluralize(Vehicle.where(vehicle_make_id: 5).count(:all),
                              "Motorcycle") %>
              </span>
            <% end %>
          <% end %>
        </div>
        
        <div class="col-md-3-modified col-xs-6-modified">
          <%= form_for_filterrific @filterrific,
                                   url: search_vehicles_path,
                                   html: {
                                     id: "filterrific-no-ajax-auto-submit",
                                   } do |f| %>
            
            <%= f.hidden_field :with_vehicle_make_id, value: 6 %>
            
            <%= button_tag(type:  "submit", 
                           class: "manufacturer") do %>
              
              <%= image_tag( (VehicleMake.find(6).cover_photo_url.gsub '-large', '-medium'), 
                              class: "cover-image",
                              alt: "New and used #{ VehicleMake.find(6).name } motorcycles for sale.") %>
              
              <div class="overlay"></div>
              
              <span class="manufacturer-title">
                <%= VehicleMake.find(6).name %>
              </span>
              
              <span class="manufacturer-subtitle">
                <%= pluralize(Vehicle.where(vehicle_make_id: 6).count(:all),
                              "Motorcycle") %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
      
      <div class="feed-vehicle-makes">
        
        <span class="feed-vehicle-make-title">All manufacturers:</span>
        
        <div class="row">
          
          <div class="col-md-6 col-xs-6">
            <div class="row">
              
              <div class="col-md-6">
                <% VehicleMake.first(4).each do |vehicle_make| %>
                  <%= link_to vehicle_make.name, 
                              posts_vehicle_make_path(vehicle_make), 
                              class: "feed-vehicle-make-name" %>
                <% end %>
              </div>
              
              <div class="col-md-6">
                <% VehicleMake.find(5, 6, 7, 8).each do |vehicle_make| %>
                  <%= link_to vehicle_make.name, 
                              posts_vehicle_make_path(vehicle_make),
                              class: "feed-vehicle-make-name" %>
                <% end %>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-xs-6">
            <div class="row">
              
              <div class="col-md-6">
                <% VehicleMake.find(9, 10, 11, 12).each do |vehicle_make| %>
                  <%= link_to vehicle_make.name, 
                              posts_vehicle_make_path(vehicle_make),
                              class: "feed-vehicle-make-name" %>
                <% end %>
              </div>
              
              <div class="col-md-6">
                <% VehicleMake.find(13, 14, 15).each do |vehicle_make| %>
                  <%= link_to vehicle_make.name, 
                              posts_vehicle_make_path(vehicle_make),
                              class: "feed-vehicle-make-name" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--<(perc)= link_to discussions_path, class: "feed-forum-item" do %>-->

    <!--  <div class="feed-forum-image"-->
    <!--       style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/feed-forum.jpg')">-->
    <!--    <h3 class="feed-forum-image-text">Ask For Advice</h3>-->
    <!--    <div class="feed-forum-image-gradient"></div>-->
    <!--  </div>-->
      
    <!--  <span class="feed-forum-title">-->
    <!--    Start A Discussion-->
    <!--    <i class="fa fa-angle-right" aria-hidden="true"></i> -->
    <!--  </span>-->
      
    <!--  <span class="feed-forum-info">-->
    <!--    Connect with motorcycle enthusiasts, share stories, and ask for -->
    <!--    advice.-->
    <!--  </span>-->
    <!--<(perc) end %>-->
    
    <div class="feed-content">
      
      <h2 class="feed-title">Sell my motorcycle</h2>
      
      <div class="feed-community">
        
        <div class="row feed-community-content">  
        
          <div class="col-md-6 col-xs-6 feed-forum-item-container">
            <%= link_to new_vehicle_path, class: "feed-forum-item" do %>
              <div class="feed-forum-image">
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/listing-medium.jpg',
                              class: "cover-image",
                              alt: "List your motorcycle for free.") %>
                              
                <h3 class="feed-forum-image-text">List For Free</h3>
                
                <div class="feed-forum-image-gradient"></div>
              </div>
            <% end %>
          </div> 
          
          <div class="col-md-6 col-xs-6 feed-forum-item-container">
            <%= link_to new_dealership_path, class: "feed-forum-item" do %>
              <div class="feed-forum-image">
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/dealership-medium.jpg',
                              class: "cover-image",
                              alt: "Sales resources for motorcycle dealers") %>
                              
                <h3 class="feed-forum-image-text">Dealer Portal</h3>
                
                <div class="feed-forum-image-gradient"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="feed-content">
      
      <h2 class="feed-title">Personalize your search</h2>
      
      <div class="motominion-summary">
        <div class="row vertical-align">
            
          <div class="col-md-5 col-md-offset-1 motominion-summary-content">

            <span class="social-column-info hello-4">
              At Motominion, we strive to provide a cohesive purchasing 
              experience for the powersport consumer. We offer highly 
              curated search, in order to connect buyers with the vehicles 
              that best fit their needs, and with the dealers that sell them. 
              Then, we provide the consumer confidence features that you expect, 
              including price analyses, dealer reviews, and other insights. 
            </span>
            
            <br>
            
            <span class="social-column-info hello-4">
              Ready to start your search? Complete a buyer profile and we'll 
              group bikes into categories, like “Within Budget” or “Being Sold 
              Near Me”. Our approach makes it easier for buyers to discover 
              motorcycles that have exactly what they are looking for, as well 
              as anything that they may have missed.            
            </span>
            <br>
            
            <% if current_user && current_user.personalized_search.present? %>
              <%= link_to style_personalized_search_path(
                            current_user.personalized_search
                          ),
                          class: "preferences-link" do %>
                Complete my profile
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              <% end %>
                          
            <% else %>
              <%= link_to survey_personalized_searches_path,
                          class: "preferences-link" do %>
                Complete my profile
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-md-6 hidden-xs">
            <div class="motominion-icons">
              
              <div class="icon-group-a">
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/icon-a.png",
                              class: "icon-large") %>
                            
                <%= image_tag("https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/icon-b.png",
                              class: "icon-small") %>
              </div>
            
              <div class="icon-group-b">
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/icon-d.png",
                              class: "icon-large") %>
                              
                <%= image_tag("https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/icon-e.png",
                              class: "icon-small") %>
              </div>
              
              <%= image_tag("https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/icon-c.png",
                            class: "icon-medium") %> 
            
              <%= image_tag("https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/icon-f.png",
                            class: "icon-tiny") %>
              
              <div class="icon-circle icon-circle-a"></div>
              
              <div class="icon-circle icon-circle-b"></div>
              
              <div class="icon-circle icon-circle-c"></div>
               
              <div class="icon-circle icon-circle-d"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="feed-content">
      <div class="row">
        
        <div class="col-md-4 social-column">

          <h2 class="feed-title">Be inspired</h2>
          
          <h3 class="feed-info">
            Not just a place for buying and selling...
          </h3>
          
          <div class="social-column-content">
            
            <div class="social-column-image">
            </div>
            
            <!--<span class="social-column-info">-->
              
            <!--  Connect with our blog.-->
              
            <!--  <(perc)= link_to articles_path, -->
            <!--              class: "preferences-link" do %>-->
            <!--    Blog-->
            <!--    <i class="fa fa-angle-right" aria-hidden="true"></i>-->
            <!--  <(perc) end %>-->
            <!--</span>-->
            
            <!--<div class="social-column-line"></div>-->
            
            <span class="social-column-info">
              
              Connect with motorcycle enthusiasts, ask for advice, and get 
              updates from the Motominion team.
              
              <%= link_to discussions_path, 
                          class: "preferences-link" do %>
                Browse the community
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              <% end %>
            </span>
            
            <div class="social-column-line"></div>
            
            <span class="social-column-info social-column-info-last">
              
              In the market for a new motorcycle, but not sure where to start?
              We'll mix and match preferences to find what's best for you.
              
              <% if current_user && current_user.personalized_search.present? %>
                <%= link_to style_personalized_search_path(
                              current_user.personalized_search
                            ),
                            class: "preferences-link" do %>
                  Begin your search
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                <% end %>
                            
              <% else %>
                <%= link_to survey_personalized_searches_path,
                            class: "preferences-link" do %>
                  Begin your search
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </span>
          </div>
        </div>
        
        <div class="col-md-8">
          
          <h2 class="feed-title">Share your story</h2>
          
          <h3 class="feed-info">
            
            Share your favorite photos with the Motominion community.
            
            <%= link_to vehicle_makes_path, class: "preferences-link" do %>
              Browse photos
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            <% end %>
          </h3>
          
          <ol class="feed-posts hidden-xs">
            <%= render partial:     'post_desktop',
                       collection:  Post.order("RANDOM()").limit(4),
                       as:          :post %>
          </ol>
          
          <div class="feed-posts-container">
            <ol class="feed-posts visible-xs">
              <%= render partial:     'post_mobile',
                         collection:  Post.order("RANDOM()").limit(4),
                         as:          :post %>
            </ol>
          </div>
        </div>
      </div>
    </div>
    
    <div class="feed-content last">
      
      <h2 class="feed-title">Community connections</h2>
    
      <div class="feed-community">
        <div class="row feed-community-content">  
        
          <div class="col-md-6 col-xs-6 feed-forum-item-container">
            <%= link_to discussions_path, class: "feed-forum-item" do %>
            
              <div class="feed-forum-image">
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/feed-forum.jpg',
                              class: "cover-image",
                              alt: "Ask for advice.") %>
                              
                <h3 class="feed-forum-image-text">Ask For Advice</h3>
                
                <div class="feed-forum-image-gradient"></div>
              </div>
              
              <span class="feed-forum-title">
                Start A Discussion
                <i class="fa fa-angle-right" aria-hidden="true"></i> 
              </span>
              
              <span class="feed-forum-info">
                Connect with motorcycle enthusiasts, share stories, and ask for 
                advice.
              </span>
            <% end %>
          </div> 
          
          <div class="col-md-6 col-xs-6 feed-forum-item-container">
            <%= link_to clubs_path, class: "feed-forum-item" do %>
  
              <div class="feed-forum-image">
                
                <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/motorcycle-couple-medium.jpg',
                              class: "cover-image",
                              alt: "Promote your motorcycle club.") %>
                              
                <h3 class="feed-forum-image-text">Promote Your Club</h3>
                
                <div class="feed-forum-image-gradient"></div>
              </div>
              
              <span class="feed-forum-title">
                Connect Locally
                <i class="fa fa-angle-right" aria-hidden="true"></i> 
              </span>
              
              <span class="feed-forum-info">
                Join friends of your own bike club and discuss issues 
                relevant to your group.
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-xs">
  <%= render 'personalized_searches/form' %>
</div>

<!--<div class="press">-->
  
<!--  <h3 class="press-title">As seen on</h3>-->
  
<!--  <div class="press-logos">-->
<!--    <div class="row">-->
    
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/financial-times.png", size: "144x64"), -->
<!--                    'http://www.ft.com/home/uk', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/forbes.png", size: "144x64"), -->
<!--                    'http://www.forbes.com/', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tech-crunch.png", size: "144x64"), -->
<!--                    'https://techcrunch.com/', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/bloomberg.png", size: "144x64"), -->
<!--                    'http://www.bloomberg.com/', -->
<!--                    target: "_blank" %>    -->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<script type="text/javascript">
  
  $(document).ready(function() {
    
    $(window).on('scroll', function() {
        
      // fixed header
      
        var fixedHeader = $('.header-fixed-hidden');
        var scrolltop   = $(this).scrollTop();
        
        if(scrolltop >= 315) {
          fixedHeader.fadeIn(250);
        }
        
        else if(scrolltop <= 310) {
          fixedHeader.fadeOut(250);
        }
    });
    
    // dependent dropdown desktop
    
      var vehicleModelHome    = $('#vehicle-model-home');
      var vehicleMakeHome     = $('#vehicle-make-home');
      var vehicle_model_home  = vehicleModelHome.html();
  
      if ( vehicleMakeHome.val() == '' ) {
        vehicleModelHome.prop("disabled", true);
      }
      
      else {
        
        vehicleMakeHome.prepend("<option value=''>All makes</option>");
                                      
        var vehicle_make_home = $('#vehicle-make-home :selected').text();
        var escaped_vehicle_make_home = 
          vehicle_make_home.
            replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        var options_home = 
          $(vehicle_model_home).
            filter("optgroup[label=" + escaped_vehicle_make_home + "]").
            html();
        
        if (options_home) {
          vehicleModelHome.html("<option value=''>All models</option>" +
                                "<option value=''></option>" +
                                options_home);
          vehicleModelHome.prop("disabled", false);
        } 
        
        else {
          vehicleModelHome.empty();
          vehicleModelHome.html("<option value=''>All models</option>");
          vehicleModelHome.prop("disabled", true);
        }
      }
      
      vehicleMakeHome.change(function() {
        
        var vehicle_make_home = $('#vehicle-make-home :selected').text();
        var escaped_vehicle_make_home = 
          vehicle_make_home.
            replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        var options_home = 
          $(vehicle_model_home).
            filter("optgroup[label=" + escaped_vehicle_make_home + "]").
            html();
        
        if (options_home) {
          vehicleModelHome.html("<option value=''>All models</option>" +
                                "<option value=''></option>" +
                                options_home);
          vehicleModelHome.prop("disabled", false);
        } 
        
        else {
          vehicleModelHome.empty();
          vehicleModelHome.html("<option value=''>All models</option>");
          vehicleModelHome.prop("disabled", true);
        }
      });
    
    // dependent dropdown mobile
    
      var vehicleModelMobile    = $('#vehicle-model-mobile');
      var vehicleMakeMobile     = $('#vehicle-make-mobile');
      var vehicle_model_mobile  = vehicleModelMobile.html();
  
      if ( vehicleMakeMobile.val() == '' ) {
        vehicleModelMobile.prop("disabled", true);
      }
      
      else {
        
        vehicleMakeMobile.prepend("<option value=''>All makes</option>");
                                      
        var vehicle_make_mobile = $('#vehicle-make-mobile :selected').text();
        var escaped_vehicle_make_mobile = 
          vehicle_make_mobile.
            replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        var options_mobile = 
          $(vehicle_model_mobile).
            filter("optgroup[label=" + escaped_vehicle_make_mobile + "]").
            html();
        
        if (options_mobile) {
          vehicleModelMobile.html("<option value=''>All models</option>" +
                                "<option value=''></option>" +
                                options_mobile);
          vehicleModelMobile.prop("disabled", false);
        } 
        
        else {
          vehicleModelMobile.empty();
          vehicleModelMobile.html("<option value=''>All models</option>");
          vehicleModelMobile.prop("disabled", true);
        }
      }
      
      vehicleMakeMobile.change(function() {
        
        var vehicle_make_mobile = $('#vehicle-make-mobile :selected').text();
        var escaped_vehicle_make_mobile = 
          vehicle_make_mobile.
            replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        var options_mobile = 
          $(vehicle_model_mobile).
            filter("optgroup[label=" + escaped_vehicle_make_mobile + "]").
            html();
        
        if (options_mobile) {
          vehicleModelMobile.html("<option value=''>All models</option>" +
                                "<option value=''></option>" +
                                options_mobile);
          vehicleModelMobile.prop("disabled", false);
        } 
        
        else {
          vehicleModelMobile.empty();
          vehicleModelMobile.html("<option value=''>All models</option>");
          vehicleModelMobile.prop("disabled", true);
        }
      });
  });
</script>