<!--completed-->

<%= form_for([@conversation, @conversation.messages.new], 
             remote: true) do |f| %>
  
  <!--<(perc)= render 'shared/error_messages', object: f.object %>-->
  
  <div class="row">
    
    <div class="col-xs-2">
      <% if current_user.dealership.present? %>
        <div class="message-avatar message-avatar-left avatar-general", 
             style="background-image: url(
                     '<%= current_user.dealership.photo.url() %>')">
        </div>
      
      <% else %>
        <!--<(perc)= link_to user_path(current_user) do %>-->
          <div class="message-avatar message-avatar-left avatar-general", 
               style="background-image: url(
                       '<%= current_user.avatar.url(:thumb) %>')">
          </div>
        <!--<(perc) end %>-->
      <% end %>
    </div>
    
    <div class="col-xs-10">
      <div class="message-container">
        
        <%= f.trix_editor :content, 
                          rows: 2,
                          placeholder: "Send a personal message.", 
                          class: "form-control message-form-control",
                          id: "new_message" %>

        <%= f.hidden_field :user_id, value: current_user.id %>
        
        <table class="message-detail">
          <tr>
            
            <td class="message-date-container">
              <span class="message-date">
                <%= Time.now.strftime("%D") %>
              </span>
            </td>
            
            <td>
              <%= f.submit "Deliver my message", 
                           class: "message-post" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<% end %>