<!--completed-->

<% provide(:title, "Inbox") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      
      <li><%= link_to "Dashboard", dashboard_path %></li>
      
      <li class="nav-active"><%= link_to "Inbox", conversations_path %></li>
      
      <% if current_user.dealership_id.present? %>
        <li>
          <%= link_to "Performance",
                      performance_dealership_path(current_user.dealership) %>
        </li>
      
      <% else %>
        
        <li><%= link_to "Shortlist", shortlist_user_path(current_user) %></li>
      
        <% if current_user.personalized_search.present? %>
          <li>
            <%= link_to "Matches", current_user.personalized_search %>
          </li>
        
        <% else %>
          <li>
            <%= link_to "Matches", start_personalized_searches_path %>
          </li>
        <% end %>
      
        <li><%= link_to "Your Listings", vehicles_path %></li>
      <% end %>
      
      <li><%= link_to "Profile", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs-block">
  
  <a href='#' class="dropdown-toggle" data-toggle="dropdown">
    Inbox <b class="caret"></b>
  </a>
  
  <ul class="dropdown-menu">
    
    <li><%= link_to "Dashboard", dashboard_path %></li>
    
    <li class="dropdown-active"><%= link_to "Inbox", conversations_path %></li>
    
    <% if current_user.dealership_id.present? %>
      <li>
        <%= link_to "Performance", 
                    performance_dealership_path(current_user.dealership) %>
      </li>
    
    <% else %>
    
      <li><%= link_to "Shortlist", shortlist_user_path(current_user) %></li>
    
      <% if current_user.personalized_search.present? %>
        <li>
          <%= link_to "Matches", current_user.personalized_search %>
        </li>
      
      <% else %>
        <li>
          <%= link_to "Matches", start_personalized_searches_path %>
        </li>
      <% end %>
    
      <li><%= link_to "Your Listings", vehicles_path %></li>
    <% end %>
    
    <li><%= link_to "Profile", edit_user_path(current_user) %></li>
  </ul>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
      
      <div class="col-md-3 messages-info">
        
        <div class="messages-info-recipient">
          
          <% if @other.id == @conversation.sender_id && 
                  @conversation.is_sender_anonymous == true %>
          
            <div class="recipient-avatar avatar-general",
                 style="background-image: url(https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/avatar.jpg)">
            </div>

            <div class='recipient-username'>
              
              <% if @other.id == @conversation.sender_id && 
                      @conversation.is_sender_anonymous == true %>
                Anonymous
              
              <% else %>
                <%= @other.first_name %>
              <% end %>
                          
              <!--<(perc) if @other.online? %>-->
              <!--  <div class="online-name online-name-lg hidden-xs"></div>-->
              <!--<(perc) end %>-->
            </div>
          
          <% else %>
            
            <% if @other.dealership.present? %>
              <div class="recipient-avatar avatar-general", 
                   style="background-image: url(
                           '<%= @other.dealership.photo.url() %>')">
              </div>

            <% else %>
              <%= link_to user_path(@other) do %>
                <div class="recipient-avatar avatar-general", 
                     style="background-image: url(
                             '<%= @other.avatar.url(:thumb) %>')">
                </div>
              <% end %>
            <% end %>

            <div class='recipient-username-link'>
              
              <% if @other.dealership.present? %>
                <%= @other.dealership.dealership_name %>
              <% else %>
                <%= link_to @other.full_name, user_path(@other) %>
              <% end %>
                            
                <!--<(perc) if @other.online? %>-->
                <!--  <div class="online-name online-name-lg hidden-xs"></div>-->
                <!--<(perc) end %>-->
            </div>
    
            <% if @other.residence.present? %>
              <span class="recipient-city">
                <%= @other.residence %>
              </span>
            <% end %>
            
            <% if @other.phone_number.present? %>
              <%= link_to @other.phone_number.phony_formatted(spaces: '-'), 
                          '#', 
                          class: "recipient-phone" %>
            <% end %>
      
            <% if @other.description.present? %>
            
              <p class="recipient-description">
                <%= @other.description %>
              </p>
              
              <span class="recipient-expand">+ More</span>
            <% end %>
          <% end %>
        </div>
        
        <% if @conversation.appointments.where(
                "buyer_id = ? AND date >= ?",
                @other.id,
                Time.now
              ).exists? %>
          <div class="messages-info-requests hidden-xs">
              
            <div class="requests-received">
                  
              <h2 class="requests-title">
                Requests Received
                (<%= @conversation.appointments.where(
                       "buyer_id = ? AND date >= ?",
                       @other.id,
                       Time.now
                     ).count %>)
              </h2>
              
              <ol class="requests-list">
                <% @conversation.appointments.where(
                     "buyer_id = ? AND date >= ?",
                     @other.id,
                     Time.now
                   ).each do |appointment| %>
                   
                  <li id="request-item-<%= appointment.id %>" 
                      class="request-item">
                    
                    <table class="request-item-content">
                      <tr>
                        
                        <td class="request-item-detail">
                          <%= link_to appointment.vehicle.listing_name,
                                      appointment.vehicle, 
                                      class: "request-item-vehicle" %>
                        </td>
                        
                        <td class="request-item-status-container">
                          <span class="request-item-status 
                                       <%= appointment.status %>">
                            <%= appointment.status.capitalize %>
                          </span>
                        </td>
                      </tr>
                    </table>  
                    
                    <span class="request-item-date">
                      <%= appointment.date.strftime(
                            "%A, %d %b (%-l:%M%p)"
                          ) %>
                    </span>
                  </li>
                <% end %>
              </ol>
            </div>
          </div>
        <% end %>
          
        <% if @conversation.appointments.where(
                "buyer_id = ? AND date >= ?",
                current_user.id,
                Time.now
              ).exists? %>
          <div class="messages-info-requests hidden-xs">
            
            <div class="requests-sent">
                  
              <h2 class="requests-title">
                Requests Sent
                (<%= @conversation.appointments.where(
                      "buyer_id = ? AND date >= ?",
                      current_user.id,
                      Time.now
                    ).count %>)
              </h2>
              
              <ol class="requests-list">
                <% @conversation.appointments.where(
                    "buyer_id = ? AND date >= ?",
                    current_user.id,
                    Time.now
                  ).each do |appointment| %>
                   
                  <li id="request-item-<%= appointment.id %>" 
                      class="request-item">
                    
                    <table class="request-item-content">
                      <tr>
                        
                        <td class="request-item-detail">
                          <%= link_to appointment.vehicle.listing_name,
                                      appointment.vehicle, 
                                      class: "request-item-vehicle" %>
                          </span>
                        </td>
                        
                        <td class="request-item-status-container">
                          <span class="request-item-status
                                      <%= appointment.status %>">
                            <%= appointment.status.capitalize %>
                          </span>
                        </td>
                      </tr>
                    </table>
                    
                    <span class="request-item-date">
                      <%= appointment.date.strftime(
                            "%A, %d %b (%-l:%M%p)"
                          ) %>
                    </span>
                  </li>
                <% end %>
              </ol>
            </div>
          </div>
        <% end %>
      </div>
      
      <div class="col-md-8 col-md-offset-1">
        
        <!--<(perc) if current_user.id == @conversation.sender_id %>-->
        <!--  <div class="conversation-introduction">-->
  
        <!--    <i class="fa fa-times conversation-introduction-close"></i>-->
            
        <!--    <div class="row vertical-align">-->
            
        <!--      <div class="col-md-2 hidden-xs">-->
        <!--        <(perc)= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/identity.png",-->
        <!--                      class: "conversation-introduction-image") %>-->
        <!--      </div>-->
              
        <!--      <div class="col-md-10">-->
  
        <!--        <span class="conversation-introduction-title">-->
        <!--          Your identity is currently:-->
        <!--        </span>-->
                
        <!--        <(perc) if @conversation.is_sender_anonymous == true %>-->
        <!--          <span class="conversation-introduction-hidden">Hidden</span>-->
        <!--        <(perc) else %>-->
        <!--          <span class="conversation-introduction-visible">Visible</span>-->
        <!--        <(perc) end %>-->
            
        <!--        <p class="conversation-introduction-info">-->
        <!--              When your identity is hidden, sellers are unable to view-->
        <!--              your personal information; usernames and profile photos -->
        <!--              remain hidden. As you close a deal, sellers may ask that -->
        <!--              you reveal your identity in order to strengthen trust in -->
        <!--              you.-->
        <!--        </p>-->
        <!--      </div>-->
        <!--    </div>-->
            
        <!--    <div class="row conversation-buttons">-->
        <!--      <div class="col-md-10 col-md-offset-2">-->
        <!--        <div class="row">-->
                  
        <!--          <div class="col-md-6">-->
                    
        <!--            <(perc) if @conversation.is_sender_anonymous == true %>-->
        <!--              <(perc)= link_to "Reveal Identity",-->
        <!--                          reveal_identity_conversation_path(@conversation),-->
        <!--                          method: :put,-->
        <!--                          class: "btn-anonymous" %>-->
                    
        <!--            <(perc) else %> -->
        <!--              <(perc)= link_to "Hide Identity",-->
        <!--                          hide_identity_conversation_path(@conversation),-->
        <!--                          method: :put,-->
        <!--                          class: "btn-anonymous" %>-->
        <!--            <(perc) end %>-->
        <!--          </div>-->
                  
        <!--          <div class="col-md-6">-->
        <!--            <(perc) if @conversation.messages.exists? %>-->
        <!--              <(perc)= link_to "Export Conversation to Email", -->
        <!--                          export_conversation_path(@conversation), -->
        <!--                          class: "btn-export" %>-->
        <!--            <(perc) end %>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--<(perc) end %>-->

        <% if @conversation.appointments.exists?(
                status: 'pending', seller_id: current_user.id
              ) %>
          <div class="test-drive-introduction">
  
            <!--<i class="fa fa-times test-drive-introduction-close"></i>-->
            
            <div class="row test-drive-introduction-detail">
              
              <div class="col-md-7">
                
                <span class="test-drive-introduction-title">
                  Respond to <%= @other.first_name %>'s test drive
                    <%= pluralize_without_count(
                          @conversation.appointments.where(
                            status: 'pending', seller_id: current_user.id
                          ).count, "request"
                        ) %>
                </span>
            
                <p class="test-drive-introduction-info">
                  Respond within 24 hours to maintain your response rate.
                </p>
              </div>
              
              <div class="col-md-5">
                <% if @conversation.messages.exists? %>
                  <%= link_to "Export Conversation to Email", 
                              export_conversation_path(@conversation), 
                              class: "btn-export" %>
                <% end %>
              </div>
            </div>

            <ol class="test-drive-introduction-list">
              <% @conversation.appointments.where(
                          status: 'pending', seller_id: current_user.id
                       ).each do |appointment| %>
                <li id="response-item-<%= appointment.id %>"
                    class="response-item">
                  <div class="row vertical-align">
                    
                    <div class="col-md-2 hidden-xs">
                      <%= link_to appointment.vehicle do %>
                      
                        <% if appointment.vehicle.photos.length > 0 %>
                          <div class="response-item-image", 
                               style="background-image: url('<%= appointment.vehicle.photos[0].image.url() %>')">
                          </div>
                          
                        <% else %>
                          <div class="response-item-image", 
                               style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/no-image-available.jpg')">
                          </div>
                        <% end %>
                      <% end %>
                    </div>

                    <div class="col-md-5 col-xs-6">
                      
                      <%= link_to appointment.vehicle.listing_name,
                                  appointment.vehicle, 
                                  class: "response-vehicle" %>
                      
                      <span class="response-date">
                        <%= appointment.date.strftime(
                              "%A, %d %b (%-l:%M%p)"
                            ) %>
                      </span>
                    </div>
                    
                    <div class="col-md-5 col-xs-6">
                      <div class="row">
                        
                        <div class="col-md-6 col-xs-6">
                          <%= link_to "Accept",
                                      accept_vehicle_appointment_path(appointment.vehicle, appointment),
                                      method: :put,
                                      class: "btn-test-drive-accept" %>
                        </div>
                      
                        <div class="col-md-6 col-xs-6">
                          <%= link_to "Decline",
                                      decline_vehicle_appointment_path(
                                        appointment.vehicle, appointment
                                      ),
                                      method: :put,
                                      class: "btn-test-drive-decline" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ol>

            <!--<div class="row test-drive-buttons">-->
            <!--  <div class="col-md-10 col-md-offset-2">-->
            <!--    <div class="row">-->
            <!--      <div class="col-md-6 col-md-offset-6">-->
                    
            <!--      </div>-->
            <!--    </div>-->
            <!--  </div>-->
            <!--</div>-->
          </div>
        <% end %>
        
        <%= link_to conversations_path, class: "inbox-return" do %>
          <i class="fa fa-angle-left"></i>
          Return to Inbox
        <% end %>
        
        <span class="message-stats">
          
          <% if (current_user.id == @conversation.sender_id  && @conversation.recipient_last_viewed_at.present?) %>
            <% if @conversation.recipient_last_viewed_at.today? %>
              Last viewed by <%= @other.first_name %>: <strong>Today</strong> at <strong><%= @conversation.recipient_last_viewed_at.strftime("%-l:%M%p") %></strong>
            <% else %>
              Last viewed by <%= @other.first_name %> on: <strong><%= @conversation.recipient_last_viewed_at.strftime("%d %B %Y") %></strong>
            <% end %>
            
          <% elsif (current_user.id == @conversation.recipient_id  && @conversation.sender_last_viewed_at.present?)  %>
          
            <% if @conversation.sender_last_viewed_at.today? %>
              Last viewed by 
              <% if @conversation.is_sender_anonymous %>
                Anonymous:
              <% else %>
                <%= @other.first_name %>: 
              <% end %>
              <strong>Today</strong> at <strong><%= @conversation.sender_last_viewed_at.strftime("%-l:%M%p") %></strong>
            
            <% else %>
              Last viewed by 
              <% if @conversation.is_sender_anonymous %>
                Anonymous
              <% else %>
                <%= @other.first_name %>
              <% end %>
              on: <strong><%= @conversation.sender_last_viewed_at.strftime("%d %B %Y") %></strong>
            <% end %>
          <% end %>
        </span>
        
        <%= render 'form' %>

        <div id="chat">
          
          <% @messages_by_day.sort.reverse_each do |day, messages| %>
          
            <% unless day.today? %>
              <span class="response-stats">
                <strong><%= day.strftime("%d %B %Y") %></strong>
              </span>
            <% end %>
            
            <% for message in messages %>
              <%= render partial: 'message', object: message %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<= subscribe_to conversation_messages_path(@conversation) %>-->

<!--must login iot access-->
<!--change title-->
<!--add average rating-->
<!--switch var in javascript to new formatting-->
<!--report user/message-->
<!--link-to alignment/formatting-->
<!--why 3.5em for top and bottom padding-->