<!--completed-->

<% provide(:title, "Log In") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="credentials">
  <div class="credentials-content">
    
    <div class="credentials-header">
      
      <h1 class="credentials-title">
        Please Log In To Continue
      </h1>
      
      <!--<h2 class="credentials-subtitle">-->
      <!--  We need your contact information so we know how to reach you-->
      <!--</h2>-->
    </div>
    
    <div class="credentials-form">
      <div class="row">
        
        <div class="col-md-7">
          <%= render 'form' %>
        </div>
      
        <div class="col-md-5 hidden-xs">
          <div class="reassurance-copy">
  
            <span class="reassurance-copy-title">Why you'll love us...</span>
            
            <ul class="reassurance-copy-info">
              
              <li>
                Enter your preferences; we'll mix and match to find the best
                combination of price, mileage, and features.
              </li>
              
              <li>
                Save bikes to your shortlist; receive updates on price 
                reductions and special offers.
              </li>
              
              <li>
                Browse profile pics, reviews, and more to learn about buyers and 
                sellers before meeting them.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>