<!--completed-->

<%= form_for(:password_reset, url: password_resets_path) do |f| %>

  <%= f.email_field :email, 
                    placeholder: "Email address", 
                    class: 'form-control 
                            form-control-primary 
                            forgot-password-form-control' %>

  <%= f.submit "Send Email", class: "btn btn-primary" %>
<% end %>