<!--completed-->

<% provide(:title, "Reset Password") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="credentials">
  <div class="credentials-content">
    
    <div class="credentials-header">
      <h1 class="credentials-title">Reset Password</h1>
    </div>
    
    <div class="credentials-form">
      <%= render 'edit_form' %>
    </div>
  </div>
</div>