<!--completed-->

<% provide(:title, "Forgot Password") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="credentials">
  <div class="credentials-content">
    
    <div class="credentials-header">
      
      <h1 class="credentials-title">Forgot Your Password?</h1>
      
      <!--<h2 class="credentials-subtitle">-->
      <!--  Enter your email address below, and if you've already registered with-->
      <!--  Motominion we'll send you a link to create a new password.-->
      <!--</h2>-->
    </div>
  
    <div class="credentials-form">
      <%= render 'new_form' %>
    </div>
  </div>
</div>