<!--completed-->

<!--revise title-->

<% provide(:title,       "Community Center") %>
<% provide(:description, "Connect with motorcycle enthusiasts, ask for advice, and get updates from the Motominion team.") %>


<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="forum-cover-photo" 
     style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/forum-medium.jpg')">
  <h1 class="cover-photo-title">
    Pull up a chair;
    </br>
    It's just us talking...
  </h1>
</div>

<div class="forum-offerings">
  <div class="forum-offerings-content">
    <div class="row">
      
      <div class="col-md-4">
        <div class="row">
          
          <div class="col-md-10 forum-offerings-detail">
            <%= link_to new_discussion_path(club_id: nil) do %>
              
              <span class="forum-offerings-title">
                
                <i class="fa fa-comments-o forum-offerings-title-icon" 
                   aria-hidden="true"></i>
                
                Start A Conversation
                
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
              
              <p class="forum-offerings-info hidden-xs">
                Connect with motorcycle enthusiasts, share stories, and ask for 
                advice.
              </p>
            <% end %>
          </div>
          
          <div class="col-md-2">
            <!--intentionally left empty-->
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="row">
          
          <div class="col-md-10 col-md-offset-1 forum-offerings-detail middle">
            <%= link_to clubs_path do %>
                    
              <span class="forum-offerings-title">
                
                <i class="fa fa-map-pin forum-offerings-title-icon" 
                   aria-hidden="true"></i>
                
                Connect Locally
                
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
              
              <p class="forum-offerings-info hidden-xs">
                Join friends of your own bike club and discuss issues relevant 
                to your group.
              </p>
            <% end %>
          </div>
          
          <div class="col-md-1">
            <!--intentionally left empty-->
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-10 col-md-offset-2 forum-offerings-detail">
            <%= link_to vehicle_makes_path do %>
                    
              <span class="forum-offerings-title">
                
                <i class="fa fa-coffee forum-offerings-title-icon" 
                   aria-hidden="true"></i>
                
                Bikes and Coffee
                
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
              
              <p class="forum-offerings-info hidden-xs">
                Connect with owners and enthusiasts of your favorite make and
                model. 
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="forum">
  <div class="row">
  
    <div class="col-md-7">
      
      <div class="visible-xs">
        <%= render 'search_form' %>
        <%= render 'post_button' %>
      </div>
      
      <h2 class="forum-feed-title">Community Discussions</h2>
      
      <ul class="nav nav-tabs forum-feed-tabs">
          
        <li class="active">
          <a href="#top_posts" data-toggle="tab">
            Top
          </a>
        </li>
        
        <li>
          <a href="#recent_posts" data-toggle="tab">
            Recent
          </a>
        </li>
        
        <li>
          <a href="#unanswered_posts" data-toggle="tab">
            Unanswered
          </a>
        </li>
      </ul>
        
      <div class="tab-content forum-feed-tab-content">
        
        <div class="tab-pane fade active in" id="top_posts">
          
          <% if @top_discussions.any? %>
            <ol class="tab-pane-list">
              <%= render @top_discussions %>
            </ol>
  
          <% else %>
            <p class="empty-list-info">
              No top posts yet
            </p> 
          <% end %>
        </div>
        
        <div class="tab-pane fade" id="recent_posts">
          
          <% if @recent_discussions.any? %>
            <ol class="tab-pane-list">
              <%= render @recent_discussions %>
            </ol>
            
          <% else %>
            <p class="empty-list-info">
              No recent posts
            </p>
          <% end %>
        </div>
        
        <div class="tab-pane fade" id="unanswered_posts">
          
          <% if @unanswered_discussions.any? %>
            <ol class="tab-pane-list">
              <%= render @unanswered_discussions %>
            </ol>
            
            <!--<= will_paginate @unanswered_posts,-->
            <!--    previous_label: -->
            <!--      '<i class="fa fa-arrow-left" aria-hidden="true"></i>', -->
            <!--    next_label: -->
            <!--      '<i class="fa fa-arrow-right" aria-hidden="true"></i>',-->
            <!--    inner_window: 1, -->
            <!--    outer_window: 0 %>-->
          
          <% else %>
            <p class="empty-list-info">
              No unanswered posts
            </p>
          <% end %>
        </div>
      </div>
    </div>
  
    <div class="col-md-4 col-md-offset-1">
      
      <div class="hidden-xs">
        <%= render 'search_form' %>
      </div>
      
      <div class="hidden-xs">
        <%= render 'post_button' %>
      </div>

      <% if @top_contributors.any? %>
        <div class="top-contributors">
        
          <span class="top-contributors-title">Top Contributors</span>
          
          <ol class="top-contributors-list">
            <%= render partial:    "top_contributor", 
                       collection: @top_contributors %>
          </ol>
        </div>
      <% end %>
    </div>
  </div>
</div>