<!--completed-->

<% provide(:title, "New Discussion") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="add-content">
  
  <ol class="social-nav">
      
    <% if params[:club_id] || params[:vehicle_make_id] %>
      
      <li class="hidden-xs">
        <%= link_to "Community Center", 
                    discussions_path, 
                    class: "social-nav-link" %>
      </li>
      
      <% if params[:club_id] %>
      
        <li class="hidden-xs">
          
          <i class="fa fa-angle-right social-nav-separator" 
             aria-hidden="true"></i>
             
          <%= link_to "Motorcycle Clubs", 
                      clubs_path, 
                      class: "social-nav-link" %>
        </li>
        
        <li>
          
          <i class="fa fa-angle-right social-nav-separator hidden-xs" 
             aria-hidden="true"></i>
          
          <i class="fa fa-angle-left social-nav-separator-mobile visible-xs" 
             aria-hidden="true"></i>
             
          <%= link_to discussions_club_path(Club.find(params[:club_id])), 
                      class: "social-nav-link" do %>
            <%= Club.find(params[:club_id]).name %>
          <% end %>
        </li>
      
      <% else %>
      
        <li class="hidden-xs">
          
          <i class="fa fa-angle-right social-nav-separator" 
             aria-hidden="true"></i>
             
          <%= link_to "Motorcycle Makes", 
                      '#', 
                      class: "social-nav-link" %>
        </li>
        
        <li>
          
          <i class="fa fa-angle-right social-nav-separator hidden-xs" 
             aria-hidden="true"></i>
          
          <i class="fa fa-angle-left social-nav-separator-mobile visible-xs" 
             aria-hidden="true"></i>
             
          <%= link_to discussions_vehicle_make_path(
                        VehicleMake.find(params[:vehicle_make_id])
                      ), 
                      class: "social-nav-link" do %>
            <%= VehicleMake.find(params[:vehicle_make_id]).name %>
          <% end %>
        </li>
      <% end %>
      
    <% else %>
    
      <li>
        
        <i class="fa fa-angle-left social-nav-separator-mobile visible-xs" 
           aria-hidden="true"></i>
        
        <%= link_to "Community Center", 
                    discussions_path, 
                    class: "social-nav-link" %>
      </li>
    <% end %>
      
    <li class="hidden-xs">
      
      <i class="fa fa-angle-right social-nav-separator" 
         aria-hidden="true"></i>
         
      <span class="social-nav-active">New Discussion</span>
    </li>
  </ol>  
  
  <%= render 'new_form' %>
</div>