<!--completed-->

<head>
  <style>
  
    .email {
      background-color: #f9f9f9;
      max-width: 600px;
      margin: 0 auto;
    }
    
    .email-header {
      background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/email-header.jpg');
      background-color: #f9f9f9;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 125px;
      opacity: 0.6;
      position: relative;
    }
    
    .email-header-content {
      width: 100%;
      height: 125px;
      background: linear-gradient(rgba(249, 249, 249, 0), #f9f9f9);
      position: absolute;
      bottom: 0;
    }
    
    .email-body {
      padding: 3em 4em 2em;
    }
    
    .email-title {
      text-align: right;
      width: 210px;
      margin: 0 auto 2.5em
    }
    
    .email-title-image {
      height: 40px;
      float: left;
    }
    
    .email-title-text {
      font-size: 1.9em;
      line-height: 40px;
      color: #4c4c4c;
      margin: 0;
      display: inline-block;
    }
    
    .email-subject {
      font-size: 1.05em;
      text-align: center;
      color: #4c4c4c;
      margin: 0 0 1.5em;
    }
    
    .email-info {
      font-size: 1em;
      line-height: 1.5;
      color: #63656a;
      margin: 0 0 1.5em;
    }
    
    .email-link {
      font-weight: bold;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      color: white !important;
      background-color: #5bbb9a;
      border-radius: 2px;
      box-shadow: 0 3px 24px 0 #c8c9cb;
      width: 185px;
      height: 50px;
      margin: 2em auto 0;
      display: block;
    }
    
    .email-footer {
      font-size: 0.95em;
      text-align: center;
      color: #63656a;
      border-top: 1px solid #e7e7e7;
      padding-top: 3em;
      margin-top: 3em
    }
    
    .email-footer-social {
      height: 28px;
      margin: 0 0 1.5em;
      position: relative;
    }
    
    .email-footer-social-list {
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .email-footer-social-item {
      display: inline-block;
      margin-left: 1em;
    }
    
    .email-footer-info {
      margin-bottom: 1em;
      display: block
    }
    
    .unsubscribe-link {
      color: #63656a;
    }
    
    .first,
    .last {
      margin: 0 !important;
    }
    
    @media (max-width: 768px) {
      
      .email-header {
        height: 75px;
      }
      
      .email-header-content {
        height: 75px;
      }
      
      .email-body { 
        padding: 2em 1em;
      }
      
      .email-title {
        width: 165px;
        margin-bottom: 2em;
      }
      
      .email-title-image {
        height: 30px;
      }
      
      .email-title-text {
        font-size: 1.5em;
        line-height: 30px;
      }
      
      .email-subject,
      .email-info {
        font-size: 0.95em; 
      }
      
      .email-footer {
        font-size: 0.9em;
      }
    }
  </style>
</head>

<body>
  <div class="email">
    
    <div class="email-header">
      <div class="email-header-content"></div>
    </div>
    
    <div class="email-body">
      
      <div class="email-title">
        
        <img src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/motominion-logo.png",
             class="email-title-image">
             
        <h1 class="email-title-text">
          motominion
        </h1>
      </div>
  
      <div>
      
        <h2 class="email-subject">
          Forgot your password? No biggie!
        </h2>
        
        <p class="email-info">
          <%= @user.first_name %>, to reset your password, click on the link 
          below. Keep in mind, the link will expire in two hours.
        </p>

        <p class="email-info">
          If you did not request your password to be reset, please ignore this 
          email and your password will remain as it is.
        </p>
        
        <%= link_to "Reset Password", 
                    edit_password_reset_url(@user.reset_token, 
                                            email: @user.email),
                    class: "email-link" %>
      </div>
      
      <div class="email-footer">
        
        <div class="email-footer-social">
          <ul class="email-footer-social-list">
          
            <li class="email-footer-social-item first">
              <%= link_to 'https://www.facebook.com/MotominionMotorcycles/',
                          target: "_blank" do %>
                <img src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/facebook.png">
              <% end %>
            </li>
            
            <li class="email-footer-social-item">
              <%= link_to 'https://twitter.com/motominion',
                          target: "_blank" do %>
                <img src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/twitter.png">
              <% end %>
            </li>
            
            <li class="email-footer-social-item">
              <%= link_to 'https://www.linkedin.com/company/motominion/about/',
                          target: "_blank" do %>
                <img src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/linkedin.png">
              <% end %>
            </li>
            
            <li class="email-footer-social-item">
              <%= link_to 'https://www.instagram.com/motominion_motorcycles/',
                          target: "_blank" do %>
                <img src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/instagram.png">
              <% end %>
            </li>
          </ul>
        </div>
        
        <span class="email-footer-info">
          This is an automated mailing from Motominion. 
        </span>
        
        <span class="email-footer-info">
          
          You registered on Motominion at: <%= @user.email %>. 
          
          </br> 
          
          <%= link_to "Unsubscribe", '#', class: "unsubscribe-link" %> 
                      
          from personalized recommendations and price and availability changes. 
        </span>
        
        <span class="email-footer-info">
          Motominion, Inc.
          </br>
          8 10th St., Ste 1505 • San Francisco, CA 94103 
        </span>
        
        <span class="email-footer-info last">
          Copyright © 2019 Motominion. All rights reserved.
        </span>
        </p>
      </div>
    </div>
  </div>
</body>