<!--completed-->

<!--<(perc) @reviews.order("id desc").each do |r| %>-->

<!--  <li id="review-item-<(perc)= r.id %>" class="row review-item">-->
    
<!--    <div class="col-md-4">-->
<!--      <div class="row">-->
        
<!--        <div class="col-md-3">-->
          <!--intentionally left empty-->
<!--        </div>-->
        
<!--        <(perc)= link_to r.reviewer, -->
<!--                    class: "col-md-9 -->
<!--                            review-author -->
<!--                            review-author-clickable -->
<!--                            vertical-align" do %>-->
          
<!--          <div class="avatar-and-online">-->
            
<!--            <div class="author-avatar avatar-general", -->
<!--                 style="background-image: url(-->
<!--                         '<(perc)= r.reviewer.avatar.url(:thumb) %>')">>-->
<!--            </div>-->
            
<!--            <(perc) if r.reviewer.online? %>-->
<!--              <div class="online online-md-secondary hidden-xs"></div>-->
<!--            <(perc) end %>-->
<!--          </div>-->

<!--          <span class="author-name"><(perc)= r.reviewer.full_name %></span>-->
<!--        <(perc) end %>-->
<!--      </div>-->
<!--    </div>-->
    
<!--    <div class="col-md-8">-->
<!--      <div class="review-container">-->
  
<!--        <div class="review-rating">-->
<!--          <div id="stars-<(perc)= r.id %>"></div>-->
<!--        </div>-->
        
<!--        <span class="review-title"><(perc)= r.title %></span>-->
        
<!--        <span class="review-date"><(perc)= r.created_at.strftime("%D") %></span>-->
        
<!--        <p class="review-comment"><(perc)= r.comment %></p>-->
        
<!--        <div class="review-remove">-->
<!--          <(perc)= link_to "Remove my review", -->
<!--                      [@vehicle, r], -->
<!--                      method: :delete, -->
<!--                      data: { confirm: "Are you sure?" } if -->
<!--                            current_user && current_user == r.reviewer %>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
  
<!--  <script type="text/javascript">-->
<!--    $(document).ready(function() {-->
      
      <!--// rating-->
<!--      var stars = $('#stars-<(perc)= r.id %>');-->
  
<!--      stars.raty({-->
<!--        path:     '/assets',-->
<!--        readOnly: true,-->
<!--        score:    <(perc)= r.rating %>-->
<!--      });-->
<!--    })-->
<!--  </script>-->
<!--<(perc) end %>-->

<% @google_reviews.each do |r| %>

  <li class="row review-item">
    
    <div class="col-md-4">
      <div class="row">
        
        <div class="col-md-3">
          <!--intentionally left empty-->
        </div>
        
        <div class="col-md-9 vertical-align">
          
          <div class="google-author-avatar", 
               style="background-image: url(
                       '<%= r.profile_photo_url %>')">
          </div>
          
          <span class="author-name"><%= r.author_name %></span>
        </div>
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="review-container">
  
        <div class="review-rating">
          <div id="stars-<%= r.id %>"></div>
        </div>
        
        <span class="review-title">
          Review from <%= r.author_name %>
        </span>
        
        <span class="review-date"><%= r.time %></span>
        <!--.strftime("%D")-->
        <p class="review-comment"><%= r.text %></p>
      </div>
    </div>
    
    <script type="text/javascript">
      $(document).ready(function() {
        
        // rating
        var stars = $('#stars-<%= r.id %>');
    
        stars.raty({
          path:     '/assets',
          readOnly: true,
          score:    <%= r.rating %>
        });
      })
    </script>
  </li>
<% end %>