<!--completed-->

<% provide(:title, "Performance") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4"> 
        <%= render 'layouts/sidenav_performance' %>
      </div>
      
      <div class="col-md-8">

        <ul class="nav nav-tabs performance-tabs">
          
          <li class="active">
            <a href="#performance_insights" data-toggle="tab">
              Insights
            </a>
          </li>
          
          <li>
            <a href="#performance_reviews" data-toggle="tab">
              Reviews (<%= @google_reviews.count %>)
            </a>
          </li>
        </ul>
        
        <div class="tab-content performance-tab-content">
          
          <div class="tab-pane fade active in" id="performance_insights">
            
            <div class="row-modified performance-indicators">
              
              <div class="col-md-3-modified col-xs-6-modified">
                <div class="performance-indicator performance-indicator-a">
                  <div class="performance-indicator-detail">
                    
                    <span class="performance-indicator-title">78</span>
                    
                    <span class="performance-indicator-info">
                      Average Score
                    </span>
                  </div>
                </div>
              </div>
              
              <div class="col-md-3-modified col-xs-6-modified">
                <div class="performance-indicator performance-indicator-b">
                  <div class="performance-indicator-detail">
                    <span class="performance-indicator-title">45</span>
                    <span class="performance-indicator-info">Shortlists</span>
                  </div>
                </div>
              </div>
              
              <div class="col-md-3-modified col-xs-6-modified">
                <div class="performance-indicator performance-indicator-c">
                  <div class="performance-indicator-detail">
                    <span class="performance-indicator-title">73</span>
                    <span class="performance-indicator-info">Test Drives</span>
                  </div>
                </div>
              </div>
              
              <div class="col-md-3-modified col-xs-6-modified">
                <div class="performance-indicator performance-indicator-d">
                  <div class="performance-indicator-detail">
                    <span class="performance-indicator-title">3</span>
                    <span class="performance-indicator-info">Purchases</span>
                  </div>
                </div>
              </div>
            </div>
            
            <p class="chart-summary">
              
              In the last week, vehicles in your inventory have been viewed 
              a total of 
              
              <%= pluralize(VehicleView.
                              joins(:vehicle).
                              where(created_at: 7.days.ago..Time.now, 
                                    vehicles:   { dealership_id: @dealership.id }).
                              count, 'times') %>.
            </p>

            <%= column_chart VehicleView.
                               joins(:vehicle).
                               where(created_at: 7.days.ago..Time.now, 
                                     vehicles:   { dealership_id: @dealership.id }).
                               group_by_day('vehicle_views.created_at', format: "%d %B").
                               count, 
                             colors: ["#38b2a6"] %>
          </div>
          
          <div class="tab-pane fade" id="performance_reviews">
              
            <% if @google_reviews.present? %>
            
              <!--<div class="row reviews-summary">-->
                
              <!--  <div class="col-md-4">-->
                  
              <!--    <h3 class="reviews-subheading">Average Rating</h3>-->
                  
              <!--    <div class="row vertical-align">-->
                    
              <!--      <div class="col-xs-3">-->
              <!--        <div class="average-rating-number">-->
              <!--          <(perc)= @dealership.google_place_rating %>-->
              <!--        </div>-->
              <!--      </div>-->
                    
              <!--      <div class="col-xs-9">-->
                      
              <!--        <div class="average-rating"></div>-->
                      
              <!--        <span class="number-of-reviews">-->
              <!--          (based on <(perc)= pluralize(@google_reviews.count, "review") %>)-->
              <!--        </span> -->
              <!--      </div>-->
              <!--    </div>-->
              <!--  </div>-->
                
              <!--  <div class="col-md-4">-->
              <!--    <div class="pros-cons-list">-->
                    
              <!--      <h3 class="reviews-subheading">Pros</h3>-->
                    
              <!--      <ul class="pros-cons-list-content">-->
                      <!--<li>Security & safety (51)</li>-->
                      <!--<li>Location (45)</li>-->
                      <!--<li>Management / staff (40)</li>-->
              <!--        <li>None Listed Yet</li>-->
              <!--      </ul>-->
              <!--    </div>-->
              <!--  </div>-->
                
              <!--  <div class="col-md-4">-->
              <!--    <div class="pros-cons-list">-->
                    
              <!--      <h3 class="reviews-subheading">Cons</h3>-->
                    
              <!--      <ul class="pros-cons-list-content">-->
              <!--        <li>None Listed Yet</li>-->
              <!--      </ul>-->
              <!--    </div>-->
              <!--  </div>-->
              <!--</div>-->
              
              <ol class="reviews-list">
                <%= render 'backend_reviews_list' %>
              </ol>
              
            <% else %>
              <div class="empty-list">
                <p class="empty-list-info">
                  No reviews yet
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>