<% provide(:title,       "#{@dealership.dealership_name} - #{@dealership.city}, #{@dealership.state}") %>
<% provide(:description, "Browse new and used motorcycles from #{@dealership.dealership_name} in #{@dealership.city}, #{@dealership.state}. Read reviews, view inventory, and contact associates.") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="dealer-profile-hero">
  <div class="dealer-profile-hero-content">
    <div class="row">
      
      <div class="col-md-8">
        <div class="dealer-profile-hero-photo" 
             style="background-image: url('<%= @dealership.photo.url() %>')">
          <div class="dealer-profile-hero-logo"
               style="background-image: url('<%= @dealership.logo.url() %>')">
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="dealer-profile-hero-detail">
          
          <h1 class="dealer-profile-hero-title">
            <%= @dealership.dealership_name %>
          </h1>
          
          <div class="dealer-profile-hero-info">
            
            <table>
              <tr>
                
                <td class="dealer-profile-hero-table-title">Sales</td>
                
                <td>
                  <%= @dealership.sales_phone.phony_formatted(spaces: '-') %>
                </td>
              </tr>
              
              <tr>
                
                <td class="dealer-profile-hero-table-title">Servicing</td>
                
                <td>
                  <%= @dealership.service_phone.phony_formatted(spaces: '-') %>
                </td>
              </tr>
            </table>
            
            <%= link_to "http://#{@dealership.website}",
                        class: "dealer-profile-hero-website" do %>
              <%= @dealership.website %>
            <% end %>
          </div>
          
          <!--<p class="dealer-profile-hero-info"><= @dealership.description %></p>-->
          
          <!--<span class="dealer-profile-hero-expand">+ More</span>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dealer-profile-navbar hidden-xs">
  <div class="dealer-profile-navbar-content">
    <div class="row">
    
      <div class="col-md-8">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            
            <li><%= link_to "Overview",  dealership_path %></li>
            
            <li><%= link_to "Inventory", vehicles_dealership_path %></li>
            
            <li class="nav-active">
              <%= link_to "Reviews", reviews_dealership_path %></li>
          </ul>
        </nav>
      </div>
      
      <div class="col-md-4">
        <!--<div class="listing-navbar-button">-->
        
        <!--  <div class="navbar-price-container">-->
        <!--    <p class="navbar-price-visible">-->
        <!--      <= @dealership.users.count %> Partners Online-->
        <!--    </p>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>

<nav class="dropdown dropdown-backend visible-xs">
  
  <a href='#' class="dropdown-toggle" data-toggle="dropdown">
    Reviews <b class="caret"></b>
  </a>
  
  <ul class="dropdown-menu">
    
    <li><%= link_to "Overview",  dealership_path %></li>
    
    <li><%= link_to "Inventory", vehicles_dealership_path %></li>
    
    <li class="dropdown-active">
      <%= link_to "Reviews", reviews_dealership_path %>
    </li>
  </ul>
</nav>

<div class="dealership-profile-overview-secondary">
  <div class="dealership-profile-overview-content">
    
    <% if @google_reviews.exists? %>
      <div class="row reviews-summary">
        
        <div class="col-md-4">
          
          <h3 class="reviews-subheading">Average Rating</h3>
          
          <div class="row vertical-align">
            
            <div class="col-xs-3">
              <div class="average-rating-number">
                <%= @dealership.google_place_rating %>
              </div>
            </div>
            
            <div class="col-xs-9">
              
              <div class="average-rating"></div>
              
              <span class="number-of-reviews">
                (based on <%= pluralize(@google_reviews.count, "review") %>)
              </span> 
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="pros-cons-list">
            
            <h3 class="reviews-subheading">Pros</h3>
            
            <ul class="pros-cons-list-content">
              <!--<li>Security & safety (51)</li>-->
              <!--<li>Location (45)</li>-->
              <!--<li>Management / staff (40)</li>-->
              <li>None Listed Yet</li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="pros-cons-list">
            
            <h3 class="reviews-subheading">Cons</h3>
            
            <ul class="pros-cons-list-content">
              <li>None Listed Yet</li>
            </ul>
          </div>
        </div>
      </div>
      
      <ol class="reviews-list">
        <%= render 'reviews_list' %>
      </ol>
      
    <% else %>
      <p class="empty-list-info">No reviews yet</p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('.average-rating');
      
      averageRating.raty({
        path:     '/assets',
        readOnly: true,
        score:    <%= @dealership.google_place_rating %>
      });
  })
</script>