<!--completed-->

<% other = conversation.sender == 
           current_user ? conversation.recipient : conversation.sender %>
           
<li id="conversation-item-<%= conversation.id %>" class="conversation-item"> 

  <%= link_to conversation_messages_path(conversation) do %>
    <table class="conversation-item-content">
      <tr>
        
        <td class="avatar-and-online">
          
          <% if other.id == conversation.sender_id && 
               conversation.is_sender_anonymous == true %>
            <div class="conversation-avatar avatar-general", 
                 style="background-image: url(https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/avatar.jpg)">
            </div>
            
          <% else %>
          
            <% if other.dealership.present? %>
              <div class="conversation-avatar avatar-general", 
                   style="background-image: url('<%= other.dealership.photo.url() %>')">
              </div>
              
            <% else %>
              <div class="conversation-avatar avatar-general", 
                   style="background-image: url('<%= other.avatar.url(:thumb) %>')">
              </div>
            <% end %>
            
            <% if other.online? %>
              <div class="online online-md-primary hidden-xs"></div>
            <% end %>
          <% end %>
        </td>
        
        <td>
          <div class="conversation-detail">
            
            <% if other.id == conversation.sender_id && 
                    conversation.is_sender_anonymous == true %>
              <p class="conversation-name">Anonymous</p>
            
            <% else %>
              <% if other.dealership.present? %>
                <p class="conversation-name"><%= other.dealership.dealership_name %></p>
              <% else %>
                <p class="conversation-name"><%= other.full_name %></p>
              <% end %>
            <% end %>
            
            <p class="conversation-date">
              <%= conversation.updated_at.strftime("%D") %>
            </p>
          </div>
        </td>
        
        <td class="conversation-container hidden-xs">
          <div class="conversation">
            <p class="conversation-content">
              <%= sanitize conversation.messages.last.content %>
            </p>
          </div>
        </td>
        
        <td>
          <!--<p class="conversation-appointment">-->
          <!--  <(perc)= pluralize(conversation.appointments.count, "Request") %>-->
          <!--</p>-->
          
          <%= link_to archive_conversation_path(conversation), 
                      method: :put do %>
            <span class="conversation-delete-link">
              <i class="fa fa-archive" aria-hidden="true"></i>
              Archive
            </span>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
</li>

<!--simplify conversation and messages relationship (mailboxer gem)-->
<!--stay gray after selected-->
<!--should be logged in IOT delete (check controller)-->
<!--are these ordered based on most recent?-->