<!--completed-->

<% provide(:title, "Inbox") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
      
      <div class="col-md-4">
        <%= render 'layouts/sidenav_inbox' %>
      </div>
      
      <div class="col-md-8">
        
        <ul class="nav nav-tabs inbox-tabs">
          
          <li class="active">
            <a href="#primary_messages" data-toggle="tab">
              Primary (<%= @conversations_primary.count %>)
            </a>
          </li>
          
          <li>
            <a href="#archived_messages" data-toggle="tab">
              Archived (<%= @conversations_archived.count %>)
            </a>
          </li>
        </ul>
      
        <div class="tab-content inbox-tab-content">
          
          <div class="tab-pane fade active in" id="primary_messages">
            
            <% if @conversations_primary.exists? %>
              <ol class="backend-list">
                <%= render partial:    "conversation_primary", 
                           collection: @conversations_primary, 
                           as:         :conversation %>              
              </ol>
            
            <% else %>
              <div class="empty-list">
                <p class="empty-list-info">
                  No messages yet
                </p>
              </div>
            <% end %>
          </div>
          
          <div class="tab-pane fade" id="archived_messages">
            
            <% if @conversations_archived.exists? %>
              <ol class="backend-list">
                <%= render partial:    "conversation_archived", 
                           collection: @conversations_archived, 
                           as:         :conversation %>
              </ol>
            
            <% else %>
              <div class="empty-list">
                <p class="empty-list-info">
                  No messages yet
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--must login iot access-->
<!--what if there are no messages-->
<!--number should only indicate new messages-->
<!--simplify conversation_count-->