<!--completed-->

<%= form_for @user do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="update-panel">
    
    <h2 class="panel-title">Profile Photo</h2>

    <div class="row panel-body profile-photo-panel">
        
      <div class="col-md-4">
        <div class="row">
          
          <div class="col-md-11 avatar">
            <%= image_tag @user.avatar.url, class: "uploaded-photo" %>
          </div>
          
          <div class="col-md-1">
            <!--intentionally left empty-->
          </div>
        </div>
      </div>
      
      <div class="col-md-8">
        
        <p class="upload-instructions">
          Clear frontal face photos are an important way for community members 
          to learn about one another. 
        </p>
        
        <div class="upload-button">
          
          <div class="upload-button-content">
            Upload Photo
          </div>
          
          <%= f.file_field :avatar, class: "upload-hidden" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="update-panel">
    
    <h2 class="panel-title">Required</h2>

    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :first_name, "First Name" %>

          <%= f.text_field :first_name, 
                           placeholder: "First name", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :last_name, "Last Name" %>

          <%= f.text_field :last_name, 
                           placeholder: "Last name", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
    </div>
      
    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :email %>

          <%= f.text_field :email, 
                           placeholder: "Email address", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :password %>

          <%= f.text_field :password, 
                           placeholder: "Password", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :password_confirmation, "Confirmation" %>

          <%= f.text_field :password_confirmation,
                           placeholder: "Confirmation", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
      
      <div class="col-md-6">
        <!--intentionally left empty-->
      </div>
    </div>
    
    <div class="checkbox-inline">
      
      <%= f.check_box :is_subscribed, class: "checkbox" %>
      
      <%= f.label :is_subscribed, 
                  "Tick here if you would like to receive our email newsletter 
                   which contains more information about our services, offers, 
                   or promotions.",
                  class: "checkbox-label" %>
    </div>
  </div>
  
  <div class="update-panel">
    
    <h2 class="panel-title">Optional</h2>

    <div class="form-group form-group-primary">
      
      <%= f.label :description, "Describe Yourself" %>

      <%= f.text_area :description, 
                      rows: 5,
                      placeholder: (@user.description.present? ? 
                                    @user.description : "Motominion is built on relationships. Help other people get to know you."), 
          class: 'form-control form-control-primary' %>
    </div>
    
    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :phone_number, "Phone Number" %>

          <%= f.text_field :phone_number, 
                           placeholder: "Phone number", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :residence, "City" %>

          <%= f.text_field :residence, 
                           placeholder: "E.g. Detroit, MI / Chicago, IL", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :school %>

          <%= f.text_field :school, 
                           placeholder: "University of Michigan", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :work %>

          <%= f.text_field :work, 
                           placeholder: "Company name or job title", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
    </div>
  </div>

  <button type="submit"
          class="btn-save-listing">
    
      <i class="fa fa-floppy-o fa-lg profile-preview-icon" 
         aria-hidden="true"></i>
                
      Save
  </button>
<% end %>