<!--completed-->

<% provide(:title, "Log In") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="credentials">
  <div class="credentials-content">
    
    <div class="credentials-header">
      
      <h1 class="credentials-title">
        You Seem To Already Have A Password...
      </h1>
      
      <!--<h2 class="credentials-subtitle">-->
      <!--  Enter the password to complete your log in -->
      <!--</h2>-->
    </div>
    
    <div class="credentials-form">
      <div class="row">
        
        <div class="col-md-7">
          
          <%= form_for(:session, url: password_url) do |f| %>
            
            <!--<div class="form-element">-->
              
            <!--  <= f.email_field :email, -->
            <!--                    placeholder: "Email address", -->
            <!--                    class: 'form-control -->
            <!--                            form-control-secondary -->
            <!--                            login-form-control' %>-->
              
            <!--  <i class="fa fa-envelope-open-o fa-lg form-icon" -->
            <!--     aria-hidden="true"></i>-->
            <!--</div>-->
          
            <div class="form-element">
              
              <%= f.password_field :password, 
                                   placeholder: "Password", 
                                   class: 'form-control 
                                           form-control-secondary 
                                           login-form-control' %>
                                           
              <i class="fa fa-unlock fa-lg form-icon" 
                 aria-hidden="true"></i>
            </div>
            
            <%= f.hidden_field :email, value: User.find(params[:id]).email %>
          
            <!--<div class="checkbox-container">-->
            <!--  <div class="checkbox-inline">-->
                
            <!--    <(perc)= f.check_box :remember_me, class: "checkbox" %>-->
                
            <!--    <(perc)= f.label :remember_me, -->
            <!--                "Remember me on this computer",-->
            <!--                class: "checkbox-label" %>-->
            <!--  </div>-->
            <!--</div>-->
          
            <%= f.submit "Log In", class: "btn btn-primary" %>
          <% end %>
          
          <div class="login-links-container">
  
            <%= link_to "Forgot your password? Click here", 
                        new_password_reset_path,
                        class: "login-link" %>
          
            <!--<p class="login-link-text">-->
              
            <!--  New user? -->
              
            <!--  <(perc)= link_to "Sign up now!", -->
            <!--              signup_path, -->
            <!--              class: "login-link" %>-->
            <!--</p>-->
          </div>
        </div>
      
        <div class="col-md-5 hidden-xs">
          <div class="reassurance-copy">
  
            <span class="reassurance-copy-title">Why you'll love it...</span>
            
            <ul class="reassurance-copy-info">
              
              <li>
                Enter your preferences; we'll mix and match to find the best
                combination of price, mileage, and features.
              </li>
              
              <li>
                Save bikes to your shortlist; receive updates on price 
                reductions and special offers.
              </li>
              
              <li>
                Browse profile pics, reviews, and more to learn about buyers and 
                sellers before meeting them.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>