<!--completed-->

<!--completed-->

<% provide(:title, "Shortlist") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'purchases/modal_purchase' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="shortlist-results">
  
  <div class="shortlist-map-container">
    
    <div id="shortlist-map"></div>
    
    <%= render partial:    "map_item", 
               collection: @vehicles, 
               as:         :vehicle %>
  </div>
  
  <div class="shortlist-results-background">
    <div class="shortlist-list-container">
      <div class="row">
        
        <div class="col-md-4 hidden-xs">
          <!--intentionally left empty-->
        </div>
        
        <div class="col-md-8 shortlist-list-content">

          <% if @purchases.exists? %>
            <div class="shortlist-purchases">
              <ol class="row backend-list">
                <%= render partial:    "purchases/purchase", 
                           collection: @purchases %>
              </ol>
            </div>
          <% end %>
          
          <div class="shortlist-test-drives">
            
            <span class="shortlist-title">
              Test Drives (<%= @test_drives.count %>)
            </span>              
            
            <% if @test_drives.exists? %>
              <ol class="row test-drives">
                <%= render partial:    "appointments/test_drive", 
                           collection: @test_drives %>
              </ol>
              
            <% else %>
              <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
                
                <button type="submit"
                        class="empty-shortlist empty-shortlist-a">

                  <div class="empty-shortlist-detail">
                    
                    <span class="empty-shortlist-title">
                      Schedule A Test Drive
                    </span>
                    
                    <span class="empty-shortlist-subtitle">
                      Keep track of your test drives; we'll forward any new requests to 
                      dealers.
                    </span>
                    
                    <span class="empty-shortlist-info">
                      Begin Your Search
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span> 
                  </div>

                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/shortlist-a.png",
                                class: "empty-shortlist-image") %>
                </button>
              <% end %>
            <% end %>
          </div>
          
          <div class="shortlist-loves">

            <span class="shortlist-title">
              Love It! (<%= @loved_items.count %>)
            </span>
            
            <% if @loved_items.exists? %>
              <ol class="row search-items-content">
                <%= render partial: "shortlist_item",
                           collection: @loved_items %>
              </ol>
            
            <% else %>
              <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
                  
                <button type="submit"
                        class="empty-shortlist empty-shortlist-b">
                  
                  <div class="empty-shortlist-detail">
                    
                    <span class="empty-shortlist-title">
                      Make Space In The Garage
                    </span>
                    
                    <span class="empty-shortlist-subtitle">
                      Add bikes that you can't do without. You'll be needing
                      more room...
                    </span>
                    
                    <span class="empty-shortlist-info">
                      Begin Your Search
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div>
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/shortlist-b.png",
                                class: "empty-shortlist-image") %>
                </button>
              <% end %>
            <% end %>
          </div>
          
          <div class="shortlist-loves">
            
            <span class="shortlist-title">
              Maybe (<%= @liked_items.count %>)
            </span>
            
            <% if @liked_items.exists? %>
              <ol class="row search-items-content">
                <%= render partial: "shortlist_item",
                           collection: @liked_items %>
              </ol>
            
            <% else %>
              <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
                  
                <button type="submit"
                        class="empty-shortlist empty-shortlist-c">
                  
                  <div class="empty-shortlist-detail">
                    
                    <span class="empty-shortlist-title">
                      You've Caught My Eye
                    </span>
                    
                    <span class="empty-shortlist-subtitle">
                      Add vehicles that you'd like to have another look at.
                    </span>
                    
                    <span class="empty-shortlist-info">
                      Start Your Search
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div>
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/shortlist-c.png",
                                class: "empty-shortlist-image") %>
                </button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="shortlist-nav visible-xs">
  <div class="row">
    
    <div class="col-xs-6
                btn-shortlist-nav
                shortlist-nav-grid
                shortlist-nav-grid-active">
      <i class="fa fa-th-large btn-shorlist-nav-icon" aria-hidden="true"></i>
      Grid
    </div>
    
    <div class="col-xs-6
                btn-shortlist-nav
                shortlist-nav-map
                shortlist-nav-map-inactive">
      <i class="fa fa-map-marker btn-shortlist-nav-icon" aria-hidden="true"></i>
      Map
    </div>
  </div>
</div>

<!--<div class="shortlist-nav-mobile visible-xs">-->

<!--  <div class="shortlist-nav-grid shortlist-nav-grid-active">-->
<!--    <i class="fa -->
<!--              fa-lg-->
<!--              fa-th-large -->
<!--              shortlist-nav-grid-icon -->
<!--              shortlist-nav-grid-icon-active" -->
<!--       aria-hidden="true"></i> -->
<!--  </div>-->
  
<!--  <div class="shortlist-nav-map shortlist-nav-map-inactive">-->
<!--    <i class="fa -->
<!--              fa-lg-->
<!--              fa-map-marker -->
<!--              shortlist-nav-map-icon-->
<!--              shortlist-nav-map-icon-inactive" -->
<!--       aria-hidden="true"></i> -->
<!--  </div>-->
<!--</div>-->

<script type="text/javascript">
  $(document).ready(function() {
    
    // shortlist results height
      
      var shortlistResults           = $('.shortlist-results');
      var shortlistResultsBackground = $('.shortlist-results-background');
      
      if ( $(window).width() <= 768 ) {    
        shortlistResults.height(shortlistResultsBackground.outerHeight());
      }
    
    // map
    
      mapboxgl.accessToken = 'pk.eyJ1IjoibW90b21pbmlvbiIsImEiOiJjanA4eDMwN3AwNHoxM3VvNWpkMzJhbWF4In0.zFFkCLgxG2tCFjF_0_twpg';

      var map = new mapboxgl.Map({
                      container: 'shortlist-map',
                      style: 'mapbox://styles/mapbox/streets-v9',
                      center: [-119.4179, 36.7783],
                      zoom: 5,
                      maxZoom: 15
                    });
                
      map.on('load', function() {
        $.ajax({
          
          dataType: 'text',
          url: 'shortlist.json',
          
          success: function(data) {
            
            var myjson;
            myjson = $.parseJSON(data);
            
            var geojson = {
              type: 'FeatureCollection',
              features: myjson
            };
            
            map.addSource('locations', {
              type: 'geojson',
              data: geojson
            });
            
            var bounds = new mapboxgl.LngLatBounds();
            
            function createMapItem(currentFeature) {
              
              var mapItems = $('.map-item');
              var markers  = $('.marker');
              
              mapItems.css("display", "none")
              markers.css("background-image", "url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/map-marker-red.png')");
              
              var mapItem = $('#map-' + currentFeature.properties.id);
              
              mapItem.css({ "display": "block" })
            }
            
            geojson.features.forEach(function(marker) {
              
              bounds.extend(marker.geometry.coordinates);
              
              var el = document.createElement('div');
              el.className = 'marker';
              
              new mapboxgl.
                  Marker(el, { offset: [0, -23] }).
                  setLngLat(marker.geometry.coordinates).
                  addTo(map);
              
              var shortlistNavMap  = $('.shortlist-nav-map');
              // var shortlistMapItem = $('#shortlist-map-item' + marker.properties.id);
              
              el.addEventListener('click', function(e) {
                if ( $(window).width() <= 768 ) { 
                  createMapItem(marker);
                  el.style.backgroundImage = "url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/map-marker-aqua.png')";
                }
              });
              
              // marker.properties.id = shortlist-item-vehicle_id, test-drive-item-appointment_id, purchase-item-purchase_id
              
              var shortlistItem = document.getElementById(marker.properties.id);
              
              shortlistItem.addEventListener('mouseover', function(e) {  
                el.style.backgroundImage = "url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/map-marker-aqua.png')";
                el.style.zIndex          = "2000";              
              });
              
              shortlistItem.addEventListener('mouseout', function(e) {  
                el.style.backgroundImage = "url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/map-marker-red.png')";
                el.style.zIndex          = "1000";
              });
            });
            
            if ( $(window).width() > 768 ) { 
              map.fitBounds(bounds, { padding: 100 })
            }
            
            else {
              map.fitBounds(bounds, { padding: 50 })
            };
          },
          
          error: function() {}
        });
      });
  });
</script>