<!--completed-->

<% provide(:title, @user.full_name) %>

<header class="header-fixed-hidden hidden-xs">
  <%= render 'layouts/header_profile' %>
</header>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="hero-profile" 
     data-parallax="scroll" 
     data-image-src="https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/user-profile.jpg"
     data-speed="0.3" 
     data-bleed="40"
     data-position-y="-250px"
     data-z-index="0"></div>

<div class="user-summary">
  <div class="user-summary-content">
    <div class="row">
      
      <div class="col-md-8">
        <div class="row vertical-align">
          
          <div class="col-xs-4 user-summary-avatar-container">
            <div class="user-summary-avatar-border">
              <div class="user-summary-avatar avatar-general", 
                   style="background-image: url(
                           '<%= @user.avatar.url(:thumb) %>')">
              </div>
            </div>
          </div>
          
          <div class="col-xs-8">
            
            <h1 class="user-summary-name"><%= @user.full_name %></h1>
            
            <% if @user.online? %>
              <div class="online-name online-name-lg hidden-xs"></div>
            <% end %>
            
            <p class="user-summary-info">
              <%= @user.residence + " · " if @user.residence.present? %> 
              <span class="average-rating"></span>
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <!--intentionally left empty-->
      </div>
    </div>
  </div>
</div>

<div class="profile-overview">
  <div class="profile-overview-content">
    <div class="row">
      
      <div class="col-md-7">
        <!--<div class="profile-overview-text">-->
          
          <span class="profile-overview-registration">
            Joined in <%= @user.created_at.strftime("%B %Y") %>
          </span>
          
          <% if @user.dealership_id.present? %>
          
            <span class="profile-overview-position">General Partner ·</span>
            
            <%= link_to Dealership.find(@user.dealership_id).dealership_name,
                        Dealership.find(@user.dealership_id), 
                        class: "profile-overview-dealership" %>
          
          <% else %>
            <span class="profile-overview-position">Private Seller</span>
          <% end %>
          
          <!--<span class="profile-overview-response">-->
          <!--  Response rate: <strong>_ %</strong> · -->
          <!--  Response time: <strong>_ hours</strong>-->
          <!--</span>-->
          
          <% if @user.description.present? %>
            <p class="profile-overview-info"><%= @user.description %></p>
          <% end %>
          
          <% if @user.phone_number.present? %>
            <div class="profile-overview-contact">
              
              <span class="contact-phone">Phone</span>
              
              <%= link_to @user.phone_number.phony_formatted(spaces: '-'), 
                          '#', 
                          class: "contact-link" %>
            </div>
          <% end %>
        <!--</div>-->
      </div>
        
      <div class="col-md-4 col-md-offset-1">
        <div class="profile-reviews">
          
          <span class="profile-reviews-title">Some Background...</span>
          
          <p class="profile-reviews-info">
            Read <%= @user.first_name %>'s reviews!
          </p>
          
          <%= link_to "Reviews", 
                      '#profile-reviews', 
                      class: "btn btn-secondary btn-secondary-scrolled" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile-details">
  <div class="profile-details-content">
    <div class="row">
      
      <div class="col-md-7">
        <!--<div class="profile-static">-->
        
          <div class="profile-details-listings">
            
            <h2 class="profile-details-title">
              Listings (<%= @user.vehicles.count %>)
            </h2>
            
            <% if @user.vehicles.exists? %>
              <ol class="user-listings-list">
                <%= render 'user_listings' %>
              </ol>
              
            <% else %>
              <p class="empty-list-info">No listings posted</p>  
            <% end %>
          </div>
          
          <!--<div class="profile-details-wish-lists">-->
            
          <!--  <h2 class="profile-details-title">-->
          <!--    Wish Lists (<(perc)= @user.favorites.count %>)-->
          <!--  </h2>-->
            
          <!--  <(perc) if @user.favorite_vehicles.exists? %>-->
          <!--    <ol class="wish-list-items">-->
          <!--      <(perc)= render 'wish_list' %>-->
          <!--    </ol>-->
            
          <!--  <(perc) else %>-->
          <!--    <p class="empty-list-info">No wish lists created</p>-->
          <!--  <(perc) end %>-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <div class="col-md-1">
        <!--intentionally left empty-->
      </div>
      
      <div class="col-md-4" id="profile-scrolled">
        
        <% if (@user.phone_number.present?) or
              (@user.residence.present?) or 
              (@user.school.present?) or 
              (@user.work.present?) %>
          
          <div class="profile-scrolled-content">
            
            <div class="optional-scrolled">
              <table class="optional-scrolled-detail">
                
                <% if (@user.phone_number.present?) %>
                  <tr>
                    
                    <td>
                      <span class="optional-scrolled-title">Phone</span>
                    </td>
                    
                    <td>
                      <%= link_to @user.phone_number.phony_formatted(
                                    spaces: '-'
                                  ), '#', class: "optional-scrolled-link" %>
                    </td>
                  </tr>
                <% end %>
                
                <% if (@user.residence.present?) %>
                  <tr>
                    
                    <td>
                      <span class="optional-scrolled-title">City</span>
                    </td>
                    
                    <td>
                      <span class="optional-scrolled-info">
                        <%= @user.residence %>
                      </span>
                    </td>
                  </tr>
                <% end %>
                
                <% if (@user.school.present?) %>
                  <tr>
                    
                    <td>
                      <span class="optional-scrolled-title">School</span>
                    </td>
                    
                    <td>
                      <span class="optional-scrolled-info">
                        <%= @user.school %>
                      </span>
                    </td>
                  </tr>
                <% end %>
                
                <% if (@user.work.present?) %>
                  <tr>
                    
                    <td>
                      <span class="optional-scrolled-title">Work</span>
                    </td>
                    
                    <td>
                      <span class="optional-scrolled-info">
                        <%= @user.work %>
                      </span>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="profile-reviews">
  <div class="reviews-content">
    
    <h2 class="reviews-title">Reviews</h2>

    <% if @reviews.exists? %>
      <div class="row reviews-summary">
        
        <div class="col-md-4">
          
          <h3 class="reviews-subheading">Average Rating</h3>
          
          <div class="row vertical-align">
            
            <div class="col-xs-3">
              <div class="average-rating-number">
                <%= @user.average_rating %>
              </div>
            </div>
            
            <div class="col-xs-9">
              
              <div class="average-rating"></div>
              
              <span class="number-of-reviews">
                (based on <%= pluralize(@reviews.count, "review") %>)
              </span> 
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <!--<div class="pros-cons-list">-->
            
          <!--  <h3 class="reviews-subheading">Pros</h3>-->
            
          <!--  <ul class="pros-cons-list-content">-->
          <!--    <li>Security & safety (51)</li>-->
          <!--    <li>Location (45)</li>-->
          <!--    <li>Management / staff (40)</li>-->
          <!--  </ul>-->
          <!--</div>-->
        </div>
        
        <div class="col-md-4">
          <!--<div class="pros-cons-list">-->
            
          <!--  <h3 class="reviews-subheading">Cons</h3>-->
            
          <!--  <ul class="pros-cons-list-content">-->
          <!--    <li>Value for money (11)</li>-->
          <!--  </ul>-->
          <!--</div>-->
        </div>
      </div>
      
      <% @reviews.order("id desc").each do |r| %>
        <div class="row review-item">
          
          <div class="col-md-4">
            <div class="row">
              
              <div class="col-md-3">
                <!--intentionally left empty-->
              </div>
              
              <%= link_to r.reviewer, 
                          class: "col-md-9 
                                  review-author 
                                  review-author-clickable 
                                  vertical-align" do %>
              
                <div class="author-avatar">
                  <%= image_tag r.reviewer.avatar.url %>
                </div>
                
                <span class="author-name"><%= r.reviewer.full_name %></span>
              <% end %>
            </div>
          </div>
          
          <div class="col-md-8">
            <div class="review-container">
        
              <div class="review-rating">
                <div id="stars-<%= r.id %>"></div>
              </div>
              
              <span class="review-title"><%= r.title %></span>
              
              <span class="review-date">
                <%= r.created_at.strftime("%D") %>
              </span>
              
              <p class="review-comment"><%= r.comment %></p>
              
              <%= link_to r.vehicle.listing_name,
                          r.vehicle,
                          class: "profile-review-date" %>
              
              <%= link_to "Remove my review", 
                          [@user, r],
                          class: "profile-review-remove",
                          method: :delete, 
                          data: { confirm: "Are you sure?" } if 
                                current_user && current_user == r.reviewer %>
            </div>
          </div>
        </div>
        
        <script type="text/javascript">
          $(document).ready(function() {
            
            // rating
            var stars = $('#stars-<%= r.id %>');
        
            stars.raty({
              path:     '/assets',
              readOnly: true,
              score:    <%= r.rating %>
            });
          })
        </script>
      <% end %>
      
    <% else %>
      <div class="empty-list">
        
        <i class="fa fa-balance-scale fa-4x empty-list-icon" 
           aria-hidden="true"></i>
           
        <p class="empty-list-info">No reviews for <%= @user.first_name %> yet</p>
      </div>
    <% end %>
  </div>
</div>

<div class='multi-action visible-xs'>
  
  <button class='action-button'><i class='fa fa-plus fa-lg'></i></button>
  
  <ul class='actions'>
    
    <li><a>
      <%= form_for @conversation, 
                   url: conversations_path(@conversation), 
                   method: :post do |f| %>
               
        <%= f.hidden_field :sender_id,          value: current_user.id if 
                                                       current_user %>
        
        <%= f.hidden_field :recipient_id,       value: @user.id %>
        
        <%= f.hidden_field :sender_archived,    value: false %>
    
        <%= f.hidden_field :recipient_archived, value: false %>
        
        <%= button_tag(class: "btn-message-mobile") do %>
          <i class='fa fa-comments-o'></i>
        <% end %>
      <% end %>
    </a></li>
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    
    var averageRating = $('.average-rating');

    averageRating.raty({
      path:     '/assets',
      readOnly: true,
      score:    <%= @user.average_rating %>
    });  
  });
</script>

<!--report user-->