<%= form_for @purchase do |f| %>

  <div class="purchase-introduction">

    <i class="fa fa-times purchase-introduction-close"></i>
    
    <div class="row vertical-align">
    
      <div class="col-md-2">
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/purchase.png") %>
      </div>
      
      <div class="col-md-10">
        <div class="purchase-introduction-detail">
          
          <span class="purchase-introduction-title">
            Reserve your motorcycle and save!
          </span>
      
          <span class="purchase-introduction-info">
            Receive Motominion's <strong>$250</strong> discount.
          </span>
          
          <div class="info">
              
            <i class="fa fa-lg fa-info-circle info-icon"></i>
            
            <p class="info-text">
              <strong>
                Motominion is able to provide discounts by helping dealers with 
                the administrative aspects of a purchase; this reduces cycle time 
                and drives consumer costs down.
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="row">
    
    <div class="col-md-6 form-group">
      
      <%= f.label :first_name, "First Name" %>
      
      <%= f.text_field :first_name, 
                       placeholder: "First name", 
                       value: current_user.first_name,
                       class: "form-control form-control-primary" %>
    </div>

    <div class="col-md-6 form-group">
      
      <%= f.label :last_name, "Last Name" %>
      
      <%= f.text_field :last_name, 
                       placeholder: "Last name", 
                       value: current_user.last_name,
                       class: "form-control form-control-primary" %>
    </div>
  </div>

  <div class="form-group">
    
    <%= f.label :email %>
    
    <%= f.email_field :email,
                      placeholder: "Email address",
                      value: current_user.email,
                      class: "form-control form-control-primary" %>
  </div>
    
  <div class="form-group">

    <%= f.label :phone_number, "Phone Number" %>

    <%= f.text_field :phone_number, 
                     placeholder: "Phone number", 
                     class: 'form-control form-control-primary' %>
  </div>

  <%= f.hidden_field :vehicle_id, value: @vehicle.id %>  

  <!--<= f.hidden_field :vehicle_id, value: params[:vehicle_id] %>-->
  
  <%= f.hidden_field :seller_id, value: @dealer.id %>
  
  <%= f.submit "Save", class: "btn btn-primary btn-basics" %>
<% end %>