<!--completed-->

<h1>Test Drive Request Accepted | Motominion</h1>

<p>Hi <%= @buyer.first_name %>,</p>

<p>
  Your test drive request for <strong><%= @seller.first_name %></strong>'s 
  <strong><%= @vehicle.listing_name %></strong> was accepted! Click on the link 
  below to view the details, or to send <%= @seller.first_name %> a follow-up 
  message:
</p>

<%= link_to "Test Drive Request", conversation_messages_url(@conversation) %>