<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="search-parameter">
  
  <div class="search-parameter-progress-bar hidden-xs">
    
    <div class="search-parameter-incomplete">
      
      <%= link_to '#', 
                  class: "search-parameter-link 
                          search-parameter-link-start" do %>
      
        <%= image_tag "https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/style.png" %>
                              
        <span class="search-parameter-link-text-active">Style</span>
      <% end %>   
      
      <%= link_to '#', 
                  class: "search-parameter-link search-parameter-link-end" do %>

        <%= image_tag "https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/manufacturer.png" %>
        
        <div class="search-parameter-icon-filter"></div>
        
        <span class="search-parameter-link-text-inactive">Manufacturer</span>
      <% end %>
    </div>
    
    <div class="search-parameter-incomplete">
      <%= link_to '#',
                  class: "search-parameter-link search-parameter-link-end" do %>
      
        <%= image_tag "https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/location.png" %>  
        
        <div class="search-parameter-icon-filter"></div>
        
        <span class="search-parameter-link-text-inactive">Location</span>
      <% end %>
    </div>
    
    <div class="search-parameter-incomplete">
      <%= link_to '#',
                  class: "search-parameter-link search-parameter-link-end" do %>
      
        <%= image_tag "https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/cash.png" %>  
        
        <div class="search-parameter-icon-filter"></div>
        
        <span class="search-parameter-link-text-inactive">Price</span>
      <% end %>
    </div>
    
    <!--<div class="search-parameter-incomplete">-->
    <!--  <(perc)= link_to '#',-->
    <!--              class: "search-parameter-link search-parameter-link-end" do %>-->
        
    <!--    <(perc)= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/year.png" %>  -->
        
    <!--    <div class="search-parameter-icon-filter"></div>-->
        
    <!--    <span class="search-parameter-link-text-inactive">Year</span>-->
    <!--  <(perc) end %>-->
    <!--</div>-->
    
    <div class="search-parameter-incomplete">
      <%= link_to '#',
                  class: "search-parameter-link search-parameter-link-end" do %>
        
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/mileage.png" %>
        
        <div class="search-parameter-icon-filter"></div>
        
        <span class="search-parameter-link-text-inactive">Mileage</span>
      <% end %>
    </div>
  </div>
    
  <h1 class="search-parameter-title-desktop hidden-xs">
    What styles interest you most?
  </h1>
  
  <div class="search-parameter-title-mobile visible-xs">
    <span class="search-parameter-title-content-mobile">
      Start Your Motorcycle Search
    </span>
  </div>

  <div class="search-parameter-form-large">
    
    <span class="search-parameter-form-info visible-xs">
      What styles interest you most?
    </span>
    
    <%= form_for PersonalizedSearch.new do |f| %>

      <div class="personalized-search-block">
                
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox
                    personalized-search-checkbox-a">
          
          <%= f.check_box :is_cafe_racer, class: "style-checkbox" %>
          
          <%= f.label :is_cafe_racer do %>   
          
            <div class="personalized-search-checkbox-text">
              <span class="personalized-search-checkbox-title">
                Cafe Racer
              </span>
            </div> 
            
            <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
               aria-hidden="true"></i>
            
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-a.png",
                          class: "personalized-search-button-icon") %>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox
                    personalized-search-checkbox-b">
          
          <%= f.check_box :is_cruiser, class: "style-checkbox" %>
          
          <%= f.label :is_cruiser do %>   
          
            <div class="personalized-search-checkbox-text">
              <span class="personalized-search-checkbox-title">
                Cruiser
              </span>
            </div> 
            
            <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
               aria-hidden="true"></i>
            
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-b.png",
                          class: "personalized-search-button-icon") %>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox
                    personalized-search-checkbox-c">
          
          <%= f.check_box :is_dual_sport, class: "style-checkbox" %>
          
          <%= f.label :is_dual_sport do %>   
          
            <div class="personalized-search-checkbox-text">
              <span class="personalized-search-checkbox-title">
                Dirt Bike / Dual-Sport
              </span>
            </div> 
            
            <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
               aria-hidden="true"></i>
            
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-c.png",
                          class: "personalized-search-button-icon") %>
          <% end %>
        </div>

        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox
                    personalized-search-checkbox-d">
          
          <%= f.check_box :is_mini_pocket, class: "style-checkbox" %>
          
          <%= f.label :is_mini_pocket do %>   
          
            <div class="personalized-search-checkbox-text">
              <span class="personalized-search-checkbox-title">
                Mini / Pocket
              </span>
            </div> 
            
            <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
               aria-hidden="true"></i>
            
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-d.png",
                          class: "personalized-search-button-icon") %>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox
                    personalized-search-checkbox-e">
          
          <%= f.check_box :is_moped, class: "style-checkbox" %>
          
          <%= f.label :is_moped do %>   
          
            <div class="personalized-search-checkbox-text">
              <span class="personalized-search-checkbox-title">
                Moped
              </span>
            </div>
            
            <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
               aria-hidden="true"></i>
            
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-e.png",
                          class: "personalized-search-button-icon") %>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox
                    personalized-search-checkbox-f">
          
          <%= f.check_box :is_sportbike, class: "style-checkbox" %>
          
          <%= f.label :is_sportbike do %>   
          
            <div class="personalized-search-checkbox-text">
              <span class="personalized-search-checkbox-title">
                Sportbike
              </span>
            </div> 
            
            <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
               aria-hidden="true"></i>
            
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-f.png",
                          class: "personalized-search-button-icon") %>
          <% end %>
        </div>

        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox
                    personalized-search-checkbox-g">
          
          <%= f.check_box :is_standard, class: "style-checkbox" %>
          
          <%= f.label :is_standard do %>   
          
            <div class="personalized-search-checkbox-text">
              <span class="personalized-search-checkbox-title">
                Standard
              </span>
            </div> 
            
            <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
               aria-hidden="true"></i>
            
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-g.png",
                          class: "personalized-search-button-icon") %>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox
                    personalized-search-checkbox-h">
          
          <%= f.check_box :is_touring, class: "style-checkbox" %>
          
          <%= f.label :is_touring do %>   
          
            <div class="personalized-search-checkbox-text">
              <span class="personalized-search-checkbox-title">
                Touring
              </span>
            </div> 
            
            <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
               aria-hidden="true"></i>
            
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-h.png",
                          class: "personalized-search-button-icon") %>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox
                    personalized-search-checkbox-i">
          
          <%= f.check_box :is_trike, class: "style-checkbox" %>
          
          <%= f.label :is_trike do %>   
          
            <div class="personalized-search-checkbox-text">
              <span class="personalized-search-checkbox-title">
                Trike
              </span>
            </div> 
            
            <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
               aria-hidden="true"></i>
            
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-i.png",
                          class: "personalized-search-button-icon") %>
          <% end %>
        </div>
      </div>

      <%= button_tag(type:  "submit",
                     class: "next-button style-button") do %>
    
        <div class="personalized-search-button-text">
          
          <span class="personalized-search-button-title">
            Save
          </span>
          
          <span class="personalized-search-button-subtitle">
            Continue to Manufacturer
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
        
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/matches-next.png",
                      class: "personalized-search-button-icon") %>
      <% end %>
    <% end %>
    
    <!--<(perc)= link_to '#', class: "preferences-link" do %>-->
    <!--  Skip this step-->
    <!--  <i class="fa fa-chevron-right" aria-hidden="true"></i>-->
    <!--<(perc) end %>-->
  </div>
</div>