<!--completed-->

<div class="modal" id="modal-gallery" role="dialog">
  
  <div class="modal-carousel-container">
		<div class="carousel" id="modal-carousel">
		  
		  <i class="fa fa-times fa-2x btn-modal-mobile dismiss-modal visible-xs" 
		     aria-hidden="true" 
         data-dismiss="modal"></i>
         
      <a href="#modal-carousel" data-slide="prev">
        <i class="fa 
                  fa-chevron-left 
                  fa-2x 
                  btn-modal-mobile 
                  prev-modal 
                  visible-xs" 
           aria-hidden="true"></i>
      </a>
      
      <a href="#modal-carousel" data-slide="next">
        <i class="fa 
                  fa-chevron-right 
                  fa-2x 
                  btn-modal-mobile 
                  next-modal 
                  visible-xs" 
           aria-hidden="true"></i>
      </a>   
         
      <div class="carousel-inner">
        <% @photos.each do |photo| %>
          <div class="item <%= 'active' if photo == @photos[0] %>">          
            <%= image_tag photo.image.url() %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="modal-caption-container hidden-xs">
    <div class="modal-detail">
      
      <div class="row vertical-align">
        
        <div class="col-xs-3">
          <div class="modal-avatar-border">
            
            <% if @vehicle.dealership.present? %>
              <%= link_to @vehicle.dealership do %>
                <div class="modal-avatar avatar-general", 
                     style="background-image: url(
                             '<%= @vehicle.dealership.logo.url(:thumb) %>')">
                </div>
              <% end %>
              
            <% else %>
              <%= link_to @vehicle.user do %>
                <div class="modal-avatar avatar-general", 
                     style="background-image: url(
                             '<%= @vehicle.user.avatar.url(:thumb) %>')">
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        
        <div class="col-xs-9">
          
          <span class="modal-title"><%= @vehicle.listing_name %></span>
          
          <% if @vehicle.dealership.present? %>
            <%= link_to @vehicle.dealership.dealership_name,
                        @vehicle.dealership,
                        class: "modal-info" %>

          <% else %>
            <%= link_to @vehicle.user.full_name,
                        @vehicle.user,
                        class: "modal-info" %>
          <% end %>
        </div>
      </div>
      
      <p class="modal-caption"><%= @vehicle.description_clean %></p>
    </div>
  </div>
  
  <div class="modal-options-container hidden-xs">
    
    <div class="modal-carousel-options">
      
      <i class="fa fa-times fa-lg btn-modal" 
         aria-hidden="true" 
         data-dismiss="modal"></i>
         
      <a href="#modal-carousel" data-slide="prev">
        <i class="fa fa-chevron-up fa-lg btn-modal" aria-hidden="true"></i>
      </a>
      
      <a href="#modal-carousel" data-slide="next">
        <i class="fa fa-chevron-down fa-lg btn-modal" aria-hidden="true"></i>
      </a>
      
      <div class="modal-options-text">
        
        <div class="show-info">
          <p class="show-info-text">+ Info</p>
        </div>
        
        <!--<div class="modal-image-number">-->
        <!--  <p>1 / 8</p>-->
        <!--</div>-->
      </div>
    </div>
    
    <div class="modal-social-media">
      
      <%= link_to 'https://www.facebook.com/', target: "_blank" do %>
        <i class="fa fa-facebook fa-lg btn-modal"></i>
      <% end %>
      
      <%= link_to 'https://twitter.com/', target: "_blank" do %>
        <i class="fa fa-twitter fa-lg btn-modal"></i>
      <% end %>
    </div>
  </div>
</div>