<!--completed-->
<!--https://www.elastic.co/guide/en/elasticsearch/reference/master/_installation.html#_installation-->

<li id="search-item-<%= vehicle.id %>" class="col-md-6 search-item">
  
  <div class="search-item-image">
    
    <%= link_to vehicle, target: "_blank" do %>
    
      <% if vehicle.photos.length > 0 %>
        <div class="search-item-image-content">
          <%= image_tag(vehicle.photos[0].image.url(),
                        class: "cover-image",
                        alt: vehicle.listing_name) %>
        </div>
        
      <% else %>
        <div class="search-item-image-content">
          <%= image_tag('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/no-image-available.jpg',
                        class: "cover-image",
                        alt: vehicle.listing_name) %>
        </div>
      <% end %>
    <% end %>
    
    <% if current_user &&
          current_user.
            favorite_vehicles.
            where("vehicle_id = ? AND ( is_loved = ? OR is_liked = ? )", 
                  vehicle.id, true, true).
            exists? %>
            
      <%= link_to unfavorite_vehicle_path(vehicle),
                  method: :put,
                  class: "add-to-wish-list" do %>
        <i class="fa fa-2x fa-trash wish-list-icon" aria-hidden="true"></i>
      <% end %>
      
    <% else %>
    
      <%= link_to favorite_vehicle_path(vehicle, is_loved: true), 
                  method: :put,
                  class: "add-to-wish-list" do %>
        <i class="fa fa-2x fa-heart-o wish-list-icon" aria-hidden="true"></i>
      <% end %>
    <% end %>
    
    <!--<(perc) if vehicle.dealership_id.present? %>-->
    
      <div class="special-offer" 
           id="search-item-special-offer-<%= vehicle.id %>">
        
        <span class="special-offer-score">
          <%= vehicle.listing_score.overall_score %>
        </span>
        
        <span class="special-offer-description">Listing Score</span>
        <!--<div type="button" -->
        <!--     class="special-offer-button" -->
        <!--     data-id="<(perc)= vehicle.id %>"-->
        <!--     data-toggle="modal" -->
        <!--     data-target="#modal-special-offer-desktop">-->
        <!--  Listing Score-->
        <!--</div>-->
      </div>
      
      <!--<div class="special-offer-mobile visible-xs" -->
      <!--     id="search-item-special-offer-<(perc)= vehicle.id %>">-->
        
      <!--  <div type="button" -->
      <!--       class="special-offer-button" -->
      <!--       data-id="<(perc)= vehicle.id %>"-->
      <!--       data-toggle="modal" -->
      <!--       data-target="#modal-special-offer-mobile">-->
      <!--    <(perc)= vehicle.listing_score.overall_score %>-->
      <!--  </div>-->
      <!--</div>-->
    <!--<(perc) end %>-->
  </div>
  
  <%= link_to vehicle, target: "_blank" do %>
    <div class="row">
      
      <div class="col-xs-3 search-item-user">
        <div class="search-item-user-content">
          
          <% if vehicle.user.present? %>
            <!--<div class="avatar-and-online">-->
            
              <div class="search-item-avatar avatar-general", 
                   style="background-image: url(
                         '<%= vehicle.user.avatar.url(:thumb) %>')">
              </div>
          
              <!--<(perc) if vehicle.user.online? %>-->
              <!--  <div class="online online-lg-primary hidden-xs"></div>-->
              <!--<(perc) end %>-->
            <!--</div>-->
          
          <% else %>
            <div class="avatar-verified">
              
              <div class="search-item-avatar avatar-general", 
                   style="background-image: url(
                         '<%= vehicle.dealership.users.sample(1).first.avatar.url(:thumb) %>')">
              </div>
              
              <div class="verified-check">
                <i class="fa fa-check verified-check-icon" 
                   aria-hidden="true"></i>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    
      <div class="col-xs-9">
        <div class="search-item-info">
        
          <span class="search-item-title">
            
            <% if vehicle.actual_price.present? %>
              $<%= vehicle.actual_price %> | 
            <% elsif vehicle.msrp.present? %>
              $<%= vehicle.msrp %> | 
            <% end %>
            
            <%= vehicle.listing_name %>
          </span>

          <div id="average-rating-search-item-<%= vehicle.id %>", 
               class="average-rating-search-item"></div>
          
          <span class="search-item-review-count">
            
            <% if vehicle.dealership.present? && 
                  vehicle.dealership_id != 1 && 
                  vehicle.dealership_id != 2 %>
              <%= pluralize(vehicle.dealership.google_reviews.count, 
                            "review") %>
              
            <% else %>
              <%= pluralize(vehicle.reviews.count, "review") %>
            <% end %>
          </span>
          
          <div class="feature-list">
            
            <i class="fa fa-lg fa-info-circle feature-list-icon"></i>
  
            <ol class="feature-list-content">
            
              <li>Motorcycle Features</li>
            
              <% if vehicle.cruise_control %>
                <li>Cruise Control</li>
              <% end %>
              
              <% if vehicle.am_fm %>
                <li>AM / FM Radio</li>
              <% end %>
              
              <% if vehicle.navigation_system %>
                <li>Navigation System</li>
              <% end %>
              
              <% if vehicle.heated_seats %>
                <li>Heated Seats</li>
              <% end %>
              
              <% if vehicle.heated_hand_grips %>
                <li>Heated Hand Grips</li>
              <% end %>
              
              <% if vehicle.alarm_system %>
                <li>Alarm System</li>
              <% end %>
              
              <% if vehicle.saddlebags %>
                <li>Saddlebags</li>
              <% end %>
              
              <% if vehicle.trunk %>
                <li>Trunk</li>
              <% end %>
              
              <% if vehicle.tow_hitch %>
                <li>Tow Hitch</li>
              <% end %>
              
              <% if vehicle.cycle_cover %>
                <li>Cycle Cover</li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</li>

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('#average-rating-search-item-<%= vehicle.id %>');
      
      <% if vehicle.dealership.present? && 
            vehicle.dealership_id != 1 && 
            vehicle.dealership_id != 2 %>
        averageRating.raty({
          path:     '/assets',
          readOnly: true,
          score:    <%= vehicle.dealership.google_place_rating %>
        });
      
      <% else %>
        averageRating.raty({
          path:     '/assets',
          readOnly: true,
          score:    <%= vehicle.average_rating %>
        });  
      <% end %>
  });
</script>

<!--<div id="search-item-<(perc)= vehicle.id %>" class="col-xs-6 search-item">-->
<!--  <(perc)= link_to vehicle, target: "_blank" do %>-->
  
<!--    <div id="summary-carousel-<(perc)= vehicle.id %>",-->
<!--         class="carousel summary-carousel", -->
<!--         data-interval="false">-->
<!--      <div class="carousel-inner">-->
        
<!--        <div class="item active">-->
<!--          <img src="<(perc)= vehicle.photos[0].image.url() if -->
<!--                        vehicle.photos.length > 0 %>">-->
<!--        </div>-->
        
<!--        <div class="item">-->
<!--          <img src="<(perc)= vehicle.photos[1].image.url() if -->
<!--                        vehicle.photos.length > 1 %>">-->
<!--        </div>-->
        
<!--        <div class="item">-->
<!--          <img src="<(perc)= vehicle.photos[2].image.url() if -->
<!--                        vehicle.photos.length > 2 %>">-->
<!--        </div>-->
        
<!--        <div class="item">-->
<!--          <img src="<(perc)= vehicle.photos[3].image.url() if -->
<!--                        vehicle.photos.length > 3 %>">-->
<!--        </div>-->
        
<!--        <div class="item">-->
<!--          <img src="<(perc)= vehicle.photos[4].image.url() if -->
<!--                        vehicle.photos.length > 4 %>">-->
<!--        </div>-->
        
<!--        <div class="item">-->
<!--          <img src="<(perc)= vehicle.photos[5].image.url() if -->
<!--                        vehicle.photos.length > 5 %>">-->
<!--        </div>-->
        
<!--        <div class="item">-->
<!--          <img src="<(perc)= vehicle.photos[6].image.url() if -->
<!--                        vehicle.photos.length > 6 %>">-->
<!--        </div>-->
        
<!--        <div class="item">-->
<!--          <img src="<(perc)= vehicle.photos[7].image.url() if -->
<!--                        vehicle.photos.length > 7 %>">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    
<!--    <a href="#summary-carousel-<(perc)= vehicle.id %>" data-slide="prev">-->
<!--      <i class="fa fa-chevron-left fa-2x btn-summary-carousel-left" -->
<!--         aria-hidden="true"></i>-->
<!--    </a>-->
      
<!--    <a href="#summary-carousel-<(perc)= vehicle.id %>" data-slide="next">-->
<!--      <i class="fa fa-chevron-right fa-2x btn-summary-carousel-right" -->
<!--         aria-hidden="true"></i>-->
<!--    </a>-->
    
<!--    <div class="row">-->
        
<!--      <div class="col-xs-3 feed-item-user">-->
<!--        <div class="feed-item-user-content">-->
<!--          <div class="avatar-and-online">-->
            
<!--            <div class="feed-item-avatar">-->
<!--              <(perc)= image_tag vehicle.user.avatar.url %>-->
<!--            </div>-->
          
<!--            <(perc) if vehicle.user.online? %>-->
<!--              <div class="online online-lg-primary"></div>-->
<!--            <(perc) end %>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      
<!--      <div class="col-xs-9">-->
<!--        <div class="feed-item-info">-->
          
<!--          <span class="feed-item-title">-->
<!--            $<(perc)= vehicle.price %> | <(perc)= vehicle.listing_name %>-->
<!--          </span>-->

<!--          <div id="average-rating-<(perc)= vehicle.id %>", -->
<!--               class="average-rating-feed-item"></div>-->
          
<!--          <span class="feed-item-reviews">-->
<!--            <(perc)= pluralize(vehicle.reviews.count, "review") %>-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  <(perc) end %>-->
<!--</div>-->