<% provide(:title, "Your Listings") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Inbox",     conversations_path %></li>
      <li><%= link_to "Shortlist", shortlist_user_path(current_user) %></li>
      <li><%= link_to "Matches", personalized_search_path(current_user) %></li>
      <li class="nav-active"><%= link_to "Your Listings", vehicles_path %></li>
      <li><%= link_to "Profile", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs">
  
  <a href='#' class="dropdown-toggle" data-toggle="dropdown">
    Your Listings <b class="caret"></b>
  </a>
  
  <ul class="dropdown-menu">
    
    <li><%= link_to "Dashboard",   dashboard_path %></li>
    <li><%= link_to "Inbox",       conversations_path %></li>
    <li><%= link_to "Shortlist",   shortlist_user_path(current_user) %></li>
    <li><%= link_to "Matches", personalized_search_path(current_user) %></li>
    <li class="dropdown-active">
      <%= link_to "Your Listings", vehicles_path %>
    </li>
    <li><%= link_to "Profile", edit_user_path(current_user) %></li>
  </ul>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-3 sidenav"> 
        <%= render 'sidenav' %>
      </div>
      
      <div class="col-md-8 col-md-offset-1">
        
        <div class="listing-introduction">
          <div class="listing-introduction-content">
            <div class="row vertical-align">
              
              <div class="col-md-2 hidden-xs">
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/listing-score.png",
                              class: "listing-introduction-image") %>
              </div>
              
              <div class="col-md-10">
                
                <span class="listing-introduction-title">
                  Listing Score: 
                </span>
                
                <span class="listing-introduction-score-nonzero">
                  <%= @vehicle.listing_score.overall_score %>
                </span>
            
                <p class="listing-introduction-static-info">
                  The quality of your listing determines its placement in any 
                  search results. Fill out all fields with a star 
                  ( <i class="fa fa-star" aria-hidden="true"></i> ) in order to 
                  improve the listing's score.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%= form_for @vehicle, html: { multipart: true } do |f| %>
          
          <div class="update-panel">
            
            <h2 class="panel-title">Address</h2>
            
            <div class="panel-instructions-container">
              
              <span class="panel-instructions">
                Your address will only be shared with customers if you have 
                confirmed their test drive request.
              </span>
              
              <div class="score-info">
                
                <i class="fa fa-lg fa-star score-info-icon"></i>
                
                <p class="score-info-text">
                  Include an exact address to improve listing score.
                </p>
              </div>
            </div>
            
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :street_address, "Street Address" %>
                
                <%= f.text_field :street_address, 
                                 placeholder: "Eg. 3 Lower River Dr.", 
                                 class: "form-control form-control-primary",
                                 required: true %>
              </div>
              
              <div class="col-md-6 form-group">
    
                <%= f.label :apartment, "Apt., Bldg. (Optional)" %>
                
                <%= f.text_field :apartment, 
                                 placeholder: "Eg. Building 6", 
                                 class: "form-control form-control-primary" %>
              </div>
            </div>
            
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :city %>
                
                <%= f.text_field :city, 
                                 placeholder: "Eg. Louisville", 
                                 class: "form-control form-control-primary",
                                 required: true %>
              </div>
              
              <div class="col-md-6 form-group">
    
                <%= f.label :state, "State Code" %>
                
                <%= f.text_field :state, 
                                 placeholder: "Eg. KY", 
                                 class: "form-control form-control-primary",
                                 required: true %>
              </div>
            </div>
          </div>
          
          <div class="update-panel">
            
            <h2 class="panel-title">Availabilities</h2>
            
            <div class="panel-instructions-container">
              
              <span class="panel-instructions">
                Share your availabilities in order to make it faster for 
                customers to book a test drive.
              </span>
              
              <div class="score-info">
                
                <i class="fa fa-lg fa-star score-info-icon"></i>
                
                <p class="score-info-text">
                  Include at least one availability to improve listing score.
                </p>
              </div>
            </div>
            
            <!--<div class="availabilities">-->
              
              <!--<span class="availabilities-title">Availabilities</span>-->
              
              <%= f.fields_for :availabilities do |availability| %>
                <%= render 'availability_fields', f: availability %>
              <% end %>
                
              <div class="links">
                <%= link_to_add_association "+ Add Availability", 
                                            f, 
                                            :availabilities %>
              </div>
            <!--</div>-->
          </div>
    
          <%= f.hidden_field :bumped_at,  value: Time.now %>
          
          <% if @vehicle.posted_at.blank? && 
                !@vehicle.body_style.blank? && 
                !@vehicle.photos.blank? &&
                !@vehicle.listing_name.blank? && 
                !@vehicle.address.blank? %>
            
            <div class="row">
              
              <div class="col-md-6">
                <%= link_to post_vehicle_path(@vehicle), 
                            method: :put, 
                            class: "btn-post-listing" do %>
                                      
                  <i class="fa fa-thumb-tack fa-lg profile-preview-icon" 
                     aria-hidden="true"></i>
                            
                  Post Motorcycle
                
                <% end %>
              </div>
              
              <div class="col-md-6">
                <button type="submit"
                        class="btn-save-listing">
                  
                  <i class="fa fa-floppy-o fa-lg profile-preview-icon" 
                     aria-hidden="true"></i>
                            
                  Save
                </button>
              </div>
            </div>
            
          <% else %>
            <button type="submit"
                  class="btn-save-listing">
            
              <i class="fa fa-floppy-o fa-lg profile-preview-icon" 
                 aria-hidden="true"></i>
                        
              Save
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>