<% provide(:title, "Your Listings") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<!--<= render 'layouts/modal_search' %>-->

<!--<= render 'layouts/modal_menu' %>-->

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Inbox",     conversations_path %></li>
      <li><%= link_to "Shortlist", shortlist_user_path(current_user) %></li>
      <li><%= link_to "Matches", personalized_search_path(current_user) %></li>
      <li class="nav-active"><%= link_to "Your Listings", vehicles_path %></li>
      <li><%= link_to "Profile", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs">
  
  <a href='#' class="dropdown-toggle" data-toggle="dropdown">
    Your Listings <b class="caret"></b>
  </a>
  
  <ul class="dropdown-menu">
    
    <li><%= link_to "Dashboard",   dashboard_path %></li>
    <li><%= link_to "Inbox",       conversations_path %></li>
    <li><%= link_to "Shortlist",   shortlist_user_path(current_user) %></li>
    <li><%= link_to "Matches", personalized_search_path(current_user) %></li>
    <li class="dropdown-active">
      <%= link_to "Your Listings", vehicles_path %>
    </li>
    <li><%= link_to "Profile", edit_user_path(current_user) %></li>
  </ul>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-3"> 
        <%= render 'sidenav' %>
      </div>
      
      <div class="col-md-8 col-md-offset-1">
        
        <div class="listing-introduction">
          <div class="listing-introduction-content">
            <div class="row vertical-align">
              
              <div class="col-md-2 hidden-xs">
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/listing-score.png",
                              class: "listing-introduction-image") %>
              </div>
              
              <div class="col-md-10">
                
                <span class="listing-introduction-title">
                  Listing Score: 
                </span>
                
                <span class="listing-introduction-score-nonzero">
                  <%= @vehicle.listing_score.overall_score %>
                </span>
            
                <p class="listing-introduction-static-info">
                  The quality of your listing determines its placement in any 
                  search results. Fill out all fields with a star 
                  ( <i class="fa fa-star" aria-hidden="true"></i> ) in order to 
                  improve the listing's score.
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <%= form_for @vehicle, html: { multipart: true } do |f| %>
          
          <div class="update-panel">
            
            <h2 class="panel-title">Basic Vehicle Information</h2>
            
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :vehicle_make_id, "Make" %>
                
                <div class="form-element">
                  
                  <%= f.collection_select :vehicle_make_id,
                                          VehicleMake.order(:name),
                                          :id,
                                          :name,
                                          { include_blank: true, 
                                            prompt: "Select make" },
                                          { required: true,
                                            id: "vehicle-make-basics",
                                            class: "form-control 
                                                  select-secondary" } %>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
    
              <div class="col-md-6 form-group">
      
                <%= f.label :vehicle_model_id, "Model" %>
                
                <div class="form-element">
                  
                  <%= f.grouped_collection_select :vehicle_model_id, 
                                                  VehicleMake.order(:name),
                                                  :vehicle_models,
                                                  :name,
                                                  :id,
                                                  :name,
                                                  { prompt: "Select model", 
                                                    include_blank: true },
                                                  { required: true, 
                                                    id: "vehicle-model-basics",
                                                    class: "form-control 
                                                            select-secondary" } %>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
            </div>
    
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :year %>
                
                <div class="form-element">
                  
                  <%= f.select :year, 
                               1900..(Time.zone.now.year + 1),
                               { include_blank: true, prompt: "Select year" }, 
                               { required: true,
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-calendar-o fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
              
              <div class="col-md-6 form-group">
    
                <%= f.label :vin do %>
                  
                  VIN
                  
                  <div class="score-info">
                    
                    <i class="fa fa-lg fa-star score-info-icon"></i>
                    
                    <p class="score-info-text">
                      Include the VIN to improve listing score.
                      <!--<br>-->
                      <!--<br>-->
                      <!--The VIN can often be found on the lower-left corner of the -->
                      <!--dashboard, in front of the steering wheel. You can read -->
                      <!--the number by looking through the windshield.-->
                    </p>
                  </div>
                <% end %>
                
                <%= f.text_field :vin, 
                                 placeholder: "Eg. VA4T58201DB390436", 
                                 class: "form-control form-control-primary" %>
              </div>
            </div>
            
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :actual_price %>
                
                <div class="input-group">
                  
                  <div class="input-group-addon">$</div>
                  
                  <%= f.text_field :actual_price, 
                                   placeholder: "Eg. 100 000", 
                                   class: "form-control form-control-primary",
                                   required: true %>
                </div>
              </div>
                  
              <div class="col-md-6 form-group">
    
                <%= f.label :mileage_numeric, "Mileage" %>
                
                <div class= "input-group">
                  
                  <%= f.text_field :mileage_numeric, 
                                   placeholder: "Eg. 25 000", 
                                   class: "form-control form-control-primary",
                                   required: true %>
                      
                  <div class="input-group-addon">mi</div>
                </div>
              </div>
            </div>
          </div>
          
          <%= f.hidden_field :bumped_at, value: Time.now %>
          
          <% if @vehicle.posted_at.blank? && 
                !@vehicle.body_style.blank? && 
                !@vehicle.photos.blank? &&
                !@vehicle.listing_name.blank? && 
                !@vehicle.address.blank? %>
            
            <div class="row">
              
              <div class="col-md-6">
                <%= link_to post_vehicle_path(@vehicle), 
                            method: :put, 
                            class: "btn-post-listing" do %>
                                      
                  <i class="fa fa-thumb-tack fa-lg profile-preview-icon" 
                     aria-hidden="true"></i>
                            
                  Post Motorcycle
                
                <% end %>
              </div>
              
              <div class="col-md-6">
                <button type="submit"
                        class="btn-save-listing">
                  
                  <i class="fa fa-floppy-o fa-lg profile-preview-icon" 
                     aria-hidden="true"></i>
                            
                  Save
                </button>
              </div>
            </div>
            
          <% else %>
            <button type="submit"
                  class="btn-save-listing">
            
              <i class="fa fa-floppy-o fa-lg profile-preview-icon" 
                 aria-hidden="true"></i>
                        
              Save
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    
    // dependent dropdown
      
      var vehicleModelBasics   = $('#vehicle-model-basics');
      var vehicleMakeBasics    = $('#vehicle-make-basics');
      var vehicle_model_basics = vehicleModelBasics.html();
  
      if ( vehicleMakeBasics.val() == '' ) {
        vehicleModelBasics.prop("disabled", true);
      }
      
      else {
        
        vehicleMakeBasics.prepend("<option value=''>Select make</option>");
                                      
        var vehicle_make_basics = $('#vehicle-make-basics :selected').text();
        var escaped_vehicle_make_basics = 
          vehicle_make_basics.
            replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        var options_basics = 
          $(vehicle_model_basics).
            filter("optgroup[label=" + escaped_vehicle_make_basics + "]").
            html();
        
        if (options_basics) {
          vehicleModelBasics.html("<option value=''>Select model</option>" +
                                  "<option value=''></option>" +
                                  options_basics);
          vehicleModelBasics.prop("disabled", false);
        } 
        
        else {
          vehicleModelBasics.empty();
          vehicleModelBasics.html("<option value=''>Select model</option>");
          vehicleModelBasics.prop("disabled", true);
        }
      }
      
      vehicleMakeBasics.change(function() {
        
        var vehicle_make_basics = $('#vehicle-make-basics :selected').text();
        var escaped_vehicle_make_basics = 
          vehicle_make_basics.
            replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        var options_basics = 
          $(vehicle_model_basics).
            filter("optgroup[label=" + escaped_vehicle_make_basics + "]").
            html();
        
        if (options_basics) {
          vehicleModelBasics.html("<option value=''>Select model</option>" +
                                  "<option value=''></option>" +
                                  options_basics);
          vehicleModelBasics.prop("disabled", false);
        } 
        
        else {
          vehicleModelBasics.empty();
          vehicleModelBasics.html("<option value=''>Select model</option>");
          vehicleModelBasics.prop("disabled", true);
        }
      });
  });
</script>