<% provide(:title, "Your Listings") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Inbox",     conversations_path %></li>
      <li><%= link_to "Shortlist", shortlist_user_path(current_user) %></li>
      <li><%= link_to "Matches", personalized_search_path(current_user) %></li>
      <li class="nav-active"><%= link_to "Your Listings", vehicles_path %></li>
      <li><%= link_to "Profile", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs">
  
  <a href='#' class="dropdown-toggle" data-toggle="dropdown">
    Your Listings <b class="caret"></b>
  </a>
  
  <ul class="dropdown-menu">
    
    <li><%= link_to "Dashboard",   dashboard_path %></li>
    <li><%= link_to "Inbox",       conversations_path %></li>
    <li><%= link_to "Shortlist",   shortlist_user_path(current_user) %></li>
    <li><%= link_to "Matches", personalized_search_path(current_user) %></li>
    <li class="dropdown-active">
      <%= link_to "Your Listings", vehicles_path %>
    </li>
    <li><%= link_to "Profile", edit_user_path(current_user) %></li>
  </ul>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-3"> 
        <%= render 'sidenav' %>
      </div>
      
      <div class="col-md-8 col-md-offset-1">
        
        <div class="listing-introduction">
          <div class="listing-introduction-content">
            <div class="row vertical-align">
              
              <div class="col-md-2 hidden-xs">
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/listing-score.png",
                              class: "listing-introduction-image") %>
              </div>
              
              <div class="col-md-10">
                
                <span class="listing-introduction-title">
                  Listing Score: 
                </span>
                
                <span class="listing-introduction-score-nonzero">
                  <%= @vehicle.listing_score.overall_score %>
                </span>
            
                <p class="listing-introduction-static-info">
                  The quality of your listing determines its placement in any 
                  search results. Fill out all fields with a star 
                  ( <i class="fa fa-star" aria-hidden="true"></i> ) in order to 
                  improve the listing's score.
                </p>
              </div>
            </div>
          </div>
        </div>

        <%= form_for @vehicle do |f| %>
        
          <div class="update-panel">
            
            <h2 class="panel-title">Vehicle Description</h2>
            
            <div class="form-group">
            
              <%= f.label :listing_name, "Listing Name" %>
              
              <%= f.text_field :listing_name, 
                               placeholder: "Eg. Triumph Bonneville 900", 
                               class: "form-control form-control-primary",
                               required: true %>
            </div>
          
            <div class="form-group">
              
              <%= f.label :description_clean do %>
              
                Description
                
                <div class="score-info">
                  
                  <i class="fa fa-lg fa-star score-info-icon"></i>
                  
                  <p class="score-info-text">
                    Descriptions having higher word counts produce better 
                    listing scores.
                  </p>
                </div>
              <% end %>
              
              <%= f.text_area :description_clean, 
                              rows: 3,
                              placeholder: "Eg. Features a parallel-twin four-stroke engine.", 
                              class: "form-control form-control-primary",
                              required: true %>
            </div>
        
            <!--<div class="form-group">-->
              
            <!--  <(perc)= f.label :sellers_notes, "Seller's Notes" %>-->
              
            <!--  <(perc)= f.text_area :sellers_notes,-->
            <!--                  rows: 3,-->
            <!--                  placeholder: "Eg. Now selling at reduced cost.", -->
            <!--                  class: "form-control form-control-primary" %>-->
            <!--</div>-->
          </div>
        
          <div class="update-panel">
            
            <h2 class="panel-title">Features</h2>
        
            <div class="row">
            
              <div class="col-md-6 form-group">
    
                <%= f.label :body_style do %>
                
                  Body Style
                  
                  <div class="score-info">
                    
                    <i class="fa fa-lg fa-star score-info-icon"></i>
                    
                    <p class="score-info-text">
                      Include the body style to improve listing score.
                    </p>
                  </div>
                <% end %>
                
                <div class="form-element">
                  
                  <%= f.select :body_style, 
                               [ "Cafe Racer", "Cruiser", 
                                 "Dirt Bike / Dual-Sport", "Mini / Pocket", 
                                 "Moped", "Sportbike", "Standard", "Touring", 
                                 "Trike" ],
                               { include_blank: true, 
                                 prompt: "Select body style" },
                               { required: true,
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-motorcycle fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
              
              <div class="col-md-6 form-group">
    
                <%= f.label :color do %>
                
                  Color
                  
                  <div class="score-info">
                    
                    <i class="fa fa-lg fa-star score-info-icon"></i>
                    
                    <p class="score-info-text">
                      Include the color to improve listing score.
                    </p>
                  </div>
                <% end %>
                
                <div class="form-element">
                  
                  <%= f.select :color, 
                               [ "Black", "Blue", "Brown", "Gold", "Gray", 
                                 "Green", "Orange", "Pink", "Purple", "Red", 
                                 "Silver", "Teal", "Unknown", "White", 
                                 "Yellow" ],
                               { include_blank: true, prompt: "Select color" }, 
                               { required: true, 
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-paint-brush fa-lg form-icon" 
                   aria-hidden="true"></i>
                   
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
            </div>
            
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :fuel_type do %>
                
                  Fuel type
                  
                  <div class="score-info">
                    
                    <i class="fa fa-lg fa-star score-info-icon"></i>
                    
                    <p class="score-info-text">
                      Include the fuel type to improve listing score.
                    </p>
                  </div>
                <% end %>
                
                <div class="form-element">
                  
                  <%= f.select :fuel_type, 
                               [ "Electric", "Gasoline" ],
                               { include_blank: true, 
                                 prompt: "Select fuel type" }, 
                               { required: true,
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-leaf fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
              
              <div class="col-md-6 form-group">
    
                <%= f.label :engine_type do %>
                
                  Engine Type
                  
                  <div class="score-info">
                    
                    <i class="fa fa-lg fa-star score-info-icon"></i>
                    
                    <p class="score-info-text">
                      Include the engine type to improve listing score.
                    </p>
                  </div>
                <% end %>
                
                <div class="form-element">
                  
                  <%= f.select :engine_type, 
                               [ "Single", "Parallel-Twin", "Inline-Three",
                                 "Inline-Four", "V-Twin", "V4", 
                                 "Flat-Twin / Boxer", "L-Twin", "Other",
                                 "Unknown" ],
                               { include_blank: true, 
                                 prompt: "Select engine type" },
                               { required: true,
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-cogs fa-lg form-icon" 
                   aria-hidden="true"></i>
                   
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
            </div>
    
            <div class="row">
              
              <div class="col-md-6 form-group">
                
                <%= f.label :engine_size do %>
                
                  Engine Size
                  
                  <div class="score-info">
                    
                    <i class="fa fa-lg fa-star score-info-icon"></i>
                    
                    <p class="score-info-text">
                      Include the engine size to improve listing score.
                    </p>
                  </div>
                <% end %>
                  
                <div class= "input-group">
                  
                  <%= f.text_field :engine_size, 
                                   placeholder: "Eg. 900", 
                                   class: "form-control form-control-primary" %>
                      
                  <div class="input-group-addon">cc</div>
                </div>
              </div>
    
              <div class="col-md-6 form-group">
                <!--intentionally left empty-->
              </div>
            </div>
            
            <div class="installed-options">
              
              <span class="installed-options-title">Installed Options</span>
              
              <div class="score-info">
                
                <i class="fa fa-lg fa-star score-info-icon"></i>
                
                <p class="score-info-text">
                  Include at least one feature to improve listing score.
                </p>
              </div>
              
              <div class="row">
                
                <div class="col-md-4 installed-option">
                  <%= f.check_box :cruise_control %>
                  <%= f.label :cruise_control, "Cruise Control" %> 
                </div>
                
                <div class="col-md-4 installed-option">
                  <%= f.check_box :am_fm %>
                  <%= f.label :am_fm, "AM / FM Radio" %> 
                </div>
                
                <div class="col-md-4 installed-option">
                  <%= f.check_box :cb_radio %>
                  <%= f.label :cb_radio, "CB Radio" %> 
                </div>
              </div>
              
              <div class="row">
               
                <div class="col-md-4 installed-option">
                  <%= f.check_box :navigation_system %>
                  <%= f.label :navigation_system, "Navigation System" %>
                </div>
                
                <div class="col-md-4 installed-option">
                  <%= f.check_box :heated_seats %>
                  <%= f.label :heated_seats, "Heated Seats" %> 
                </div>
                
                <div class="col-md-4 installed-option">
                  <%= f.check_box :heated_hand_grips %>
                  <%= f.label :heated_hand_grips, "Heated Hand Grips" %> 
                </div>
              </div>
              
              <div class="row">
                
                <div class="col-md-4 installed-option">
                  <%= f.check_box :alarm_system %>
                  <%= f.label :alarm_system, "Alarm System" %>       
                </div>
                
                <div class="col-md-4 installed-option">
                  <%= f.check_box :saddlebags %>
                  <%= f.label :saddlebags %>
                </div>
                
                <div class="col-md-4 installed-option">
                  <%= f.check_box :trunk %>
                  <%= f.label :trunk %>
                </div>
              </div>
              
              <div class="row"> 
              
                <div class="col-md-4 installed-option">
                  <%= f.check_box :tow_hitch %>
                  <%= f.label :tow_hitch, "Tow Hitch" %>
                </div>
                
                <div class="col-md-4 installed-option">
                  <%= f.check_box :cycle_cover %>
                  <%= f.label :cycle_cover, "Cycle Cover" %>
                </div>
                
                <div class="col-md-4">
                  <!--intentionally left empty-->
                </div>
              </div> 
            </div>
          </div>

          <!--<(perc) if current_user.dealership_id.present? %>-->
          <!--  <div class="update-panel">-->
              
          <!--    <h2 class="panel-title">Upgrades</h2>-->
              
          <!--    <p class="panel-instructions">-->
          <!--      Drive consumer satisfaction and increase revenue by offering-->
          <!--      additional services to consumers.-->
          <!--    </p>-->
              
          <!--    <(perc)= f.fields_for :upgrades do |upgrade| %>-->
          <!--      <(perc)= render 'upgrade_fields', f: upgrade %>-->
          <!--    <(perc) end %>-->
                
          <!--    <div class="links">-->
          <!--      <(perc)= link_to_add_association "+ Add Upgrade", -->
          <!--                                  f, -->
          <!--                                  :upgrades %>-->
          <!--    </div>-->
          <!--  </div>-->
          
          <!--  <div class="update-panel">-->
              
          <!--    <h2 class="panel-title">Special Offers</h2>-->
              
          <!--    <p class="panel-instructions">-->
          <!--      Attract consumers by offering discounts and other special -->
          <!--      offers.-->
          <!--    </p>-->
              
          <!--    <(perc)= f.fields_for :special_offers do |special_offer| %>-->
          <!--      <(perc)= render 'special_offer_fields', f: special_offer %>-->
          <!--    <(perc) end %>-->
                
          <!--    <div class="links">-->
          <!--      <(perc)= link_to_add_association "+ Add Special Offer", -->
          <!--                                  f, -->
          <!--                                  :special_offers %>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--<(perc) end %>-->

          <%= f.hidden_field :bumped_at,  value: Time.now %>
            
          <% if @vehicle.posted_at.blank? && 
                !@vehicle.body_style.blank? && 
                !@vehicle.photos.blank? &&
                !@vehicle.listing_name.blank? && 
                !@vehicle.address.blank? %>
            
            <div class="row">
              
              <div class="col-md-6">
                <%= link_to post_vehicle_path(@vehicle), 
                            method: :put, 
                            class: "btn-post-listing" do %>
                                      
                  <i class="fa fa-thumb-tack fa-lg profile-preview-icon" 
                     aria-hidden="true"></i>
                            
                  Post Motorcycle
                
                <% end %>
              </div>
              
              <div class="col-md-6">
                <button type="submit"
                        class="btn-save-listing">
                  
                  <i class="fa fa-floppy-o fa-lg profile-preview-icon" 
                     aria-hidden="true"></i>
                            
                  Save
                </button>
              </div>
            </div>
            
          <% else %>
            <button type="submit"
                  class="btn-save-listing">
            
              <i class="fa fa-floppy-o fa-lg profile-preview-icon" 
                 aria-hidden="true"></i>
                        
              Save
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>