<%= CSV.generate_line(
      [ 'vehicle_id', 'title', 'description', 'url', 'make', 'model', 'year', 
        'mileage.value', 'mileage.unit', 'image[0].url', 'image[1].url', 
        'image[2].url', 'image[0].tag[0]', 'image[1].tag[0]', 'image[2].tag[0]', 
        'transmission', 'fuel_type', 'body_style', 'drivetrain', 'vin', 
        'condition', 'price', 'address', 'exterior_color', 'sale_price', 
        'availability', 'dealer_id', 'custom_label_0', 'state_of_vehicle', 
        'latitude', 'longitude', 'date_first_on_lot', 'dealer_name', 
        'dealer_phone' ]
    ).strip.html_safe %>

<% Dealership.all.each do |dealership| %>
  <% dealership.
       vehicles.
       # includes(:vehicle_model).
       # where(vehicle_models: {vehicle_type: "Sportbike"}).
       # where(last_found_at: 1.day.ago..Time.current).
       # near('San Francisco, CA').
       joins(:photos).
       group('vehicles.id').
       having('count(photos) > 2').
       order("RANDOM()").
       limit(30).
       each do |vehicle| %>
  
    <% vehicle_id        = vehicle.id %>
    <% url               = asset_url( url_for(vehicle) ) %>
    <% mileage_unit      = 'MI' %>
    <% image_tag_0       = nil %>
    <% image_tag_1       = nil %>
    <% image_tag_2       = nil %>
    <% transmission      = "AUTOMATIC" %>
    <% body_style        = "OTHER" %>
    <% drivetrain        = "Other" %>
    <% condition         = "Other" %>
    <% availability      = "AVAILABLE" %>
    <% addr1             = vehicle.street_address %>
    <% city              = vehicle.city %>
    <% region            = vehicle.state %>
    <% address           = "{addr1: '#{addr1}', city: '#{city}', region: '#{region}', country: 'US' }" %>
    <% sale_price        = nil %>
    <% dealer_id         = vehicle.dealership.id %>
    <% latitude          = vehicle.latitude %>
    <% longitude         = vehicle.longitude %>
    <% date_first_on_lot = "2018-11-01" %>
    <% dealer_name       = vehicle.dealership.dealership_name %>
    <% dealer_phone      = vehicle.dealership.sales_phone %>
    
    <% if vehicle.listing_name.present? %>
      <% title = vehicle.listing_name %>
    <% else %>
      <% title = "Title is unavailable." %>
    <% end %>
    
    <% if vehicle.description_clean.present? %>
      <% description = vehicle.description_clean %>
    <% else %>
      <% description = "Description is unavailable." %>
    <% end %>
    
    <% if vehicle.vehicle_make.present? %>
      <% make = vehicle.vehicle_make.name %>
    <% elsif vehicle.vehicle_make_name.present? %>
      <% make = vehicle.vehicle_make_name %>
    <% else %>
      <% make = "UNKNOWN" %>
    <% end %>
    
    <% if vehicle.vehicle_model.present? %>
      <% model = vehicle.vehicle_model.name %>
    <% elsif vehicle.vehicle_model_name.present? %>
      <% model = vehicle.vehicle_model_name %>
    <% else %>
      <% model = "UNKOWN" %>
    <% end %>
    
    <% if vehicle.year.present? %>
      <% year = vehicle.year %>
    <% else %>
      <% year = 1990 %>
    <% end %>
    
    <% image_url_0 = "https:" + URI.unescape( vehicle.photos[0].image.url() ).to_s %>
    <% image_url_1 = "https:" + URI.unescape( vehicle.photos[1].image.url() ).to_s %>
    <% image_url_2 = "https:" + URI.unescape( vehicle.photos[2].image.url() ).to_s %>
    
    <% if vehicle.mileage_numeric.present? %>
      <% mileage_value = vehicle.mileage_numeric %>
    <% else %>
      <% mileage_value = 0 %>
    <% end %>
    
    <% if vehicle.fuel_type == "Electric" %>
      <% fuel_type = "ELECTRIC" %>
    <% else %>
      <% fuel_type = "GASOLINE" %>
    <% end %>
    
    <% if vehicle.vin.present? %>
      <% vin = vehicle.vin %>
    <% else %>
      <% vin = "aaaaaUNKOWNaaaaaa" %>
    <% end %>
    
    <% if vehicle.actual_price.present? %>
      <% price = vehicle.actual_price.to_s + " USD" %>
    <% elsif vehicle.msrp.present? %>
      <% price = vehicle.msrp.to_s + " USD" %>
    <% else %>
      <% price = "0 USD" %>
    <% end %>
    
    <% if vehicle.color.present? %>
      <% exterior_color = vehicle.color %>
    <% else %>
      <% exterior_color = "Unknown" %>
    <% end %>
    
    <% if vehicle.condition == "New" %>
      <% state_of_vehicle = "NEW" %>
    <% else %>
      <% state_of_vehicle = "USED" %>
    <% end %>
    
    <% if vehicle.vehicle_model.present? %>
      <% vehicle_type = vehicle.vehicle_model.vehicle_type %>
    <% elsif vehicle.body_style.present? %>
      <% vehicle_type = vehicle.body_style %>
    <% else %>
      <% vehicle_type = "Other" %>
    <% end %>

    <% custom_label_0 = vehicle_type %>
  
    <%= CSV.generate_line(
          [ vehicle_id, title, description, url, make, model, year, mileage_value, 
            mileage_unit, image_url_0, image_url_1, image_url_2, image_tag_0, 
            image_tag_1, image_tag_2, transmission, fuel_type, body_style, 
            drivetrain, vin, condition, price, address, exterior_color, 
            sale_price, availability, dealer_id, custom_label_0, 
            state_of_vehicle, latitude, longitude, date_first_on_lot, 
            dealer_name, dealer_phone ]
        ).strip.html_safe %>
  <% end %>
<% end %>