<!--completed-->

<% provide(:title, "Your Listings") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4"> 
        <%= render 'layouts/sidenav_your_listings' %>
      </div>
      
      <div class="col-md-8">
        
        <% if @vehicles.exists? %>
          <ol class="backend-list">
            <%= render @vehicles %>
          </ol>
        
        <% else %>
          <div class="empty-list">
          
            <!--<i class="fa fa-bars fa-4x empty-list-icon" -->
            <!--   aria-hidden="true"></i>-->
               
            <p class="empty-list-info">
              No listings posted
            </p>
            
            <!--<div class="empty-list-button">-->
            <!--  <(perc)= link_to new_vehicle_path, -->
            <!--              class: "btn btn-green" do %>-->
            
            <!--    List-->
                
            <!--    <i class="fa fa-arrow-right next-button-icon" -->
            <!--       aria-hidden="true"></i> -->
            <!--  <(perc) end %>-->
            <!--</div>-->
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>