<!--completed-->

<% if @filterrific.with_condition.present? %>
  <% provide(:title,       "#{@filterrific.with_condition}#{ (" " + VehicleMake.find(@filterrific.with_vehicle_make_id).name) if @filterrific.with_vehicle_make_id.present?}#{ (" " + VehicleModel.find(@filterrific.with_vehicle_model_id).name) if (@filterrific.with_vehicle_model_id.present? && VehicleModel.find(@filterrific.with_vehicle_model_id).name != "All Models")} Motorcycles For Sale#{ (" In " + @filterrific.with_zip_code.to_s.to_region) if @filterrific.with_zip_code.present? }") %>
  <% provide(:description, "Browse thousands of #{@filterrific.with_condition.downcase}#{ (" " + VehicleMake.find(@filterrific.with_vehicle_make_id).name) if @filterrific.with_vehicle_make_id.present?}#{ (" " + VehicleModel.find(@filterrific.with_vehicle_model_id).name) if (@filterrific.with_vehicle_model_id.present? && VehicleModel.find(@filterrific.with_vehicle_model_id).name != "All Models")} motorcycles for sale#{ (" in " + @filterrific.with_zip_code.to_s.to_region + ",") if @filterrific.with_zip_code.present? } to find the best local deals.") %>
<% else %>
  <% provide(:title,       "New & Used#{ (" " + VehicleMake.find(@filterrific.with_vehicle_make_id).name) if @filterrific.with_vehicle_make_id.present?}#{ (" " + VehicleModel.find(@filterrific.with_vehicle_model_id).name) if (@filterrific.with_vehicle_model_id.present? && VehicleModel.find(@filterrific.with_vehicle_model_id).name != "All Models")} Motorcycles For Sale#{ (" In " + @filterrific.with_zip_code.to_s.to_region) if @filterrific.with_zip_code.present? }") %>
  <% provide(:description, "Browse thousands of new and used#{ (" " + VehicleMake.find(@filterrific.with_vehicle_make_id).name) if @filterrific.with_vehicle_make_id.present?}#{ (" " + VehicleModel.find(@filterrific.with_vehicle_model_id).name) if (@filterrific.with_vehicle_model_id.present? && VehicleModel.find(@filterrific.with_vehicle_model_id).name != "All Models")} motorcycles for sale#{ (" in " + @filterrific.with_zip_code.to_s.to_region + ",") if @filterrific.with_zip_code.present? } to find the best local deals.") %>
<% end %>

<header class="header-fixed-visible">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'modal_filters' %>

<!--<div class="modal" id="modal-special-offer-desktop" role="dialog">-->
<!--  <(perc)= render "layouts/modal_special_offer_desktop" %>-->
<!--</div>-->

<!--<div class="modal" id="modal-special-offer-mobile" role="dialog">-->
<!--  <(perc)= render "layouts/modal_special_offer_mobile" %>-->
<!--</div>-->

<div class="search-summary hidden-xs">
  <div class="search-summary-content">
    
    <h1 class="search-summary-title">

      <% if @filterrific.with_condition.present? %>
        <%= @filterrific.with_condition %>
      <% else %>
        New & Used
      <% end %>

      <% if @filterrific.with_vehicle_make_id.present? %>

        <%= VehicleMake.find(@filterrific.with_vehicle_make_id).name %>
        
        <% if @filterrific.with_vehicle_model_id.present? && 
                VehicleModel.
                  find(@filterrific.with_vehicle_model_id).
                  name != "All Models" %>
          <%= VehicleModel.find(@filterrific.with_vehicle_model_id).name %>
        <% end %>
      <% end %>
      
      Motorcycles
        
      <% if @filterrific.with_zip_code.present? %>
        In <%= @filterrific.with_zip_code.to_s.to_region %>
      <% end %>
    </h1>
    
    <h2 class="search-summary-info">
      <% if @filterrific.with_zip_code.present? %>
        <%= pluralize(@vehicles.count, "motorcycle") %> in your area
      <% else %>
        Enter a city to narrow your search
      <% end %>
    </h2>
  </div>
</div>

<div class="search-results">
  
  <div class="search-map-container">
    
    <div id="search-map"></div>
    
    <%= render partial:    "map_item", 
               collection: @vehicles, 
               as:         :vehicle %>
  </div>

  <div class="search-results-background">
    <div class="search-list-container">
      <div class="row">
        
        <div class="col-md-4">
          <!--intentionally left empty-->
        </div>
        
        <div class="col-md-8 search-list-content">
          
          <div class="search-filters">
            <%= render 'search_filters' %>
          </div>
          
          <div class="search-items-container">
            
            <% if @vehicles.any? %>
            
              <div class="search-introduction">
              
                <div class="search-introduction-static hidden-xs">
                  
                  <i class="fa fa-times search-introduction-static-close"></i>
                  
                  <div class="row vertical-align">
                    
                    <div class="col-md-2">
                      <%= image_tag("https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/search-introduction.png",
                                    class: "search-introduction-static-image") %>
                    </div>
                    
                    <div class="col-md-10">
                      
                      <span class="search-introduction-static-title">
                        Motorcycles in Your Area
                      </span>
                  
                      <p class="search-introduction-static-info">
                        Find and compare bikes in your area with Motominion.com. 
                        We list over 10,000 motorcycles from hundreds of 
                        dealerships across the country. We will walk you through
                        every step of the purchasing experience!
                      </p>
                    </div>
                  </div>
                </div>
              
                <div class="search-introduction-dynamic">
                  <div class="row search-introduction-dynamic-content">
                    
                    <div class="col-md-3">
                      <span class="search-introduction-dynamic-title">
                        
                        Newest Listings 
                        
                        <!--<(perc) if @filterrific.with_zip_code.present? %>-->
                        <!--  - <(perc)= @filterrific.with_zip_code.to_s.to_region %>-->
                        <!--<(perc) end %>-->
                      </span>
                    </div>
                    
                    <div class="col-md-9 marquee">
                      <div class="marquee-container">
    
                        <span class="marquee-text">
                          
                          <strong><%= Vehicle.first.listing_name %>:</strong> 
                          $<%= Vehicle.first.actual_price %>  
                          
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          
                          <strong><%= Vehicle.second.listing_name %>:</strong> 
                          $<%= Vehicle.second.actual_price %>
                          
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          
                          <strong><%= Vehicle.third.listing_name %>:</strong> 
                          $<%= Vehicle.third.actual_price %>
                        </span>
    
                        <span class="marquee-text">
                          
                          <strong><%= Vehicle.first.listing_name %>:</strong>
                          $<%= Vehicle.first.actual_price %>
                          
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          
                          <strong><%= Vehicle.second.listing_name %>:</strong>
                          $<%= Vehicle.second.actual_price %>
                          
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          
                          <strong><%= Vehicle.third.listing_name %>:</strong>
                          $<%= Vehicle.third.actual_price %>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            
            <!--<div class="mobile-search-info">-->
              
            <!--  <span class="feed-title">-->

            <!--    <(perc) if @filterrific.with_vehicle_make_id.present? %>-->
          
            <!--      <(perc)= VehicleMake.-->
            <!--            find(@filterrific.with_vehicle_make_id).-->
            <!--            name %>-->
                  
            <!--      <(perc) if @filterrific.with_vehicle_model_id.present? && -->
            <!--              VehicleModel.-->
            <!--                find(@filterrific.with_vehicle_model_id).-->
            <!--                name != "All Models" %>-->
          
            <!--        <(perc)= VehicleModel.-->
            <!--              find(@filterrific.with_vehicle_model_id).-->
            <!--              name %>-->
            <!--      <(perc) end %>-->
                
            <!--    <(perc) else %>-->
            <!--      All Makes and Models-->
            <!--    <(perc) end %>-->
            <!--  </span>-->

            <!--  <span class="feed-info">-->
            <!--    <(perc) if @filterrific.with_zip_code.present? %>-->

            <!--      <(perc)= pluralize(@vehicles.count, "motorcycle") %> found near -->
            <!--      <(perc)= @filterrific.with_zip_code.to_s.to_region %>-->
          
            <!--    <(perc) else %>-->
            <!--      Enter a city to narrow your search-->
            <!--    <(perc) end %>-->
            <!--  </span>-->
            <!--</div>-->
            
            <div class="filter-controls hidden-xs">
              
              <button class="btn-filters">
                <i class="fa fa-sliders fa-lg filters-icon" 
                   aria-hidden="true"></i>Filters
              </button>
              
              <div class="form-group form-group-primary search-sort">
                
                <label for="sort">Sort By:</label>
                
                <div class="form-element-primary">
                  
                  <select class="form-control search-sort-form-control" 
                          id="sort">
                    
                    <option>
                      <!--<(perc)= link_to "Nearest", '#' %>-->
                    </option>
                    
                    <option>
                      <!--<(perc)= link_to "Most Popular", '#' %>-->
                    </option>
                    
                    <option>
                      <!--<(perc)= link_to "Lowest Price", :sort => "price" %>-->
                    </option>
                  </select>
                  
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
            </div>
            
            <div class="search-items">
              
              <% if @vehicles.any? %>
                <ol class="row search-items-content">
                  <%= render partial:    "search_item", 
                             collection: @vehicles, 
                             as:         :vehicle %>
                </ol>
              
              <% else %>
                <div class="empty-search">
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/empty-search.png") %>
                  
                  <h3 class="empty-search-title">
                    
                    No results
                    
                    <% if @filterrific.with_vehicle_make_id.present? && 
                          @filterrific.with_vehicle_model_id.present? %>
                      
                      for
                      
                      '<%= VehicleMake.
                             find(@filterrific.with_vehicle_make_id).
                             name %>
                            
                      <%= VehicleModel.
                            find(@filterrific.with_vehicle_model_id).
                            name %>'
                    
                    <% elsif @filterrific.with_vehicle_make_id.present? %>
                    
                      for
                      
                      '<%= VehicleMake.
                             find(@filterrific.with_vehicle_make_id).
                             name %>'
                    <% end %>
                            
                    <%if @filterrific.with_zip_code.present? %>
                      in your area.
                    <% end %>
                  </h3>
                   
                  <span class="empty-search-info">
                     
                    <% if @filterrific.with_vehicle_make_id.present? &&
                          @filterrific.with_zip_code.present? &&
                          Vehicle.
                            where(vehicle_make_id: 
                                    @filterrific.with_vehicle_make_id).
                            near(@filterrific.with_zip_code.to_s.to_region, 20).
                            exists? %>
                          
                      <%= form_for_filterrific @filterrific do |f| %>
                      
                        <%= f.hidden_field :with_vehicle_make_id, 
                                       value: @filterrific.with_vehicle_make_id %>
                                        
                        <%= f.hidden_field :with_zip_code, 
                                           value: @filterrific.with_zip_code %>
                                           
                        <%= f.submit "Browse All #{ VehicleMake.find(@filterrific.with_vehicle_make_id).name }'s In Your Area",
                                     class: "empty-search-link" %> or
                      <% end %>
                     
                      
                    <% elsif @filterrific.with_zip_code.present? &&
                             Vehicle.
                               near(@filterrific.with_zip_code.to_s.to_region, 
                                    150). 
                               exists? %>
                      <%= form_for_filterrific @filterrific do |f| %>
                      
                        <%= f.fields_for :with_distance do |ff| %>
                        
                          <%= ff.hidden_field :zip_code, 
                                              value: @filterrific.with_zip_code %>
                                              
                          <%= ff.hidden_field :max_distance, value: 150 %>
                        <% end %>
                        
                        <%= f.submit "Browse All Motorcycles In Your Area",
                                     class: "empty-search-link" %> or
                      <% end %>
      
                    <% elsif @filterrific.with_vehicle_make_id.present? && 
                             Vehicle.
                               where(vehicle_make_id: 
                                       @filterrific.with_vehicle_make_id).
                               exists? %>
                      
                      <%= form_for_filterrific @filterrific do |f| %>
                      
                        <%= f.hidden_field :with_vehicle_make_id, 
                                       value: @filterrific.with_vehicle_make_id %>
                                       
                        <%= f.submit "Browse All #{ VehicleMake.find(@filterrific.with_vehicle_make_id).name }'s",
                                     class: "empty-search-link" %> or
                      <% end %>
                    <% end %>
                  </span>
                  
                  <%= link_to("Reset All Filters", 
                              reset_filterrific_url, 
                              class: "empty-search-reset") %>
                </div>
              <% end %>
            </div>
            
            <div class="search-advice">
              <div class="search-advice-content">
                
                <div class="row vertical-align hidden-xs">
                  
                  <div class="col-md-2">
                    <i class="fa fa-comments-o fa-4x advice-icon" 
                       aria-hidden="true"></i>
                  </div>
                
                  <div class="col-md-7">
                    
                    <h2 class="advice-title">
                      Need free advice? Talk to our team!
                    </h2>
                    
                    <p class="advice-info">
                      Our experts can help you find the perfect vehicle.
                    </p>
                  </div>
                
                  <div class="col-md-3">
                    <%= link_to "Get In Touch", 
                                new_enquiry_path, 
                                class: "btn btn-green" %>
                  </div>
                </div>
                
                <div class="visible-xs">
                  <div class="row vertical-align">
                    
                    <div class="col-xs-3">
                      <i class="fa fa-comments-o fa-4x advice-icon" 
                         aria-hidden="true"></i>
                    </div>
                  
                    <div class="col-xs-9">
                      
                      <h2 class="advice-title">
                        Need free advice? Talk to our team!
                      </h2>
                      
                      <p class="advice-info">
                        Our experts can help you find the perfect vehicle.
                      </p>
                    </div>
                  </div>
                
                  <%= link_to "Get In Touch", 
                              new_enquiry_path, 
                              class: "btn btn-green btn-get-in-touch" %>
                </div>
              </div>
            </div>

            <%= will_paginate @vehicles, 
                previous_label: 
                  '<i class="fa fa-arrow-left" aria-hidden="true"></i>', 
                next_label: 
                  '<i class="fa fa-arrow-right" aria-hidden="true"></i>',
                inner_window: 1, 
                outer_window: 0 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-xs">
  <%= render 'personalized_searches/form' %>
</div>

<!--<div class="visible-xs">-->
<!--  <div class="single-action btn-enquiry">-->
<!--    <i class='fa fa-lg fa-comments-o single-action-icon'></i>-->
<!--  </div>-->
<!--</div>-->

<div class="search-nav visible-xs">
  <div class="row">
    
    <div class="col-xs-4 
                btn-search-nav
                search-nav-map
                search-nav-map-inactive">
      <i class="fa fa-map-marker btn-search-nav-icon" aria-hidden="true"></i>
      Map
    </div>

    <div class="col-xs-4 
                btn-search-nav 
                search-nav-grid
                search-nav-grid-active">
      <i class="fa fa-th-large btn-search-nav-icon" aria-hidden="true"></i>
      Grid
    </div>
    
    <div class="col-xs-4 btn-search-nav btn-filters-modal">
      <i class="fa fa-sliders btn-search-nav-icon" aria-hidden="true"></i>
      Filters
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    
    // search results height
      
      var searchResults           = $('.search-results');
      var searchResultsBackground = $('.search-results-background');
      
      if ( $(window).width() <= 768 ) {    
        searchResults.height(searchResultsBackground.outerHeight());
      }
    
    // filters
    
      var filtersButton        = $('.btn-filters');
      var cancelButton         = $('.btn-cancel-filters');
      var searchFilters        = $('.search-filters');
      var searchItemsContainer = $('.search-items-container');

      filtersButton.click(function() {
        
        searchFilters.slideToggle();
        searchItemsContainer.slideToggle();
        
        cancelButton.click(function() {
          searchFilters.slideToggle();
          searchItemsContainer.slideToggle();
        });
      });
      
      var filtersModalButton      = $('.btn-filters-modal');
      var modalFilters            = $('#modal-filters');
      var modalFiltersHeaderClose = $('.modal-filters-header-close');
      
      filtersModalButton.click(function() {

        modalFilters.modal('show');
        
        modalFiltersHeaderClose.click(function() {
          modalFilters.modal('hide');
        }); 
      });
    
    // sliders
    
      var priceSlider                = $('#price_slider');
      var mileageSlider              = $('#mileage_slider');
      var yearSlider                 = $('#year_slider');
      var engineSizeSlider           = $('#engine_size_slider');
      var priceSliderModal           = $('#price_slider_modal');
      var mileageSliderModal         = $('#mileage_slider_modal');
      var yearSliderModal            = $('#year_slider_modal');
      var engineSizeSliderModal      = $('#engine_size_slider_modal');
      var priceSliderValue           = $('#price_slider_val');
      var mileageSliderValue         = $('#mileage_slider_val');
      var yearSliderValue            = $('#year_slider_val');
      var engineSizeSliderValue      = $('#engine_size_slider_val')
      var priceSliderValueModal      = $('#price_slider_val_modal');
      var mileageSliderValueModal    = $('#mileage_slider_val_modal');
      var yearSliderValueModal       = $('#year_slider_val_modal');
      var engineSizeSliderValueModal = $('#engine_size_slider_val_modal');
      
      priceSlider.slider();
      mileageSlider.slider();
      yearSlider.slider();
      engineSizeSlider.slider();
      priceSliderModal.slider();
      mileageSliderModal.slider();
      yearSliderModal.slider();
      engineSizeSliderModal.slider();
      
      priceSlider.on('slide', function(slideEvt) {
      	priceSliderValue.text('$' + slideEvt.value);
      });
      mileageSlider.on('slide', function(slideEvt) {
      	mileageSliderValue.text(slideEvt.value + ' mi');
      });
      yearSlider.on('slide', function(slideEvt) {
      	yearSliderValue.text(slideEvt.value);
      });
      engineSizeSlider.on('slide', function(slideEvt) {
      	engineSizeSliderValue.text(slideEvt.value + ' cc');
      });
      priceSliderModal.on('slide', function(slideEvt) {
      	priceSliderValueModal.text('$' + slideEvt.value);
      });
      mileageSliderModal.on('slide', function(slideEvt) {
      	mileageSliderValueModal.text(slideEvt.value + ' mi');
      });
      yearSliderModal.on('slide', function(slideEvt) {
      	yearSliderValueModal.text(slideEvt.value);
      });
      engineSizeSliderModal.on('slide', function(slideEvt) {
      	engineSizeSliderModalValue.text(slideEvt.value + ' cc');
      });
      
      priceSlider.on('slideStop', function(slideEvt) {
      	priceSliderValue.text('$' + slideEvt.value);
      });
      mileageSlider.on('slideStop', function(slideEvt) {
      	mileageSliderValue.text(slideEvt.value + ' mi');
      });
      yearSlider.on('slideStop', function(slideEvt) {
      	yearSliderValue.text(slideEvt.value);
      });
      engineSizeSlider.on('slideStop', function(slideEvt) {
      	engineSizeSliderValue.text(slideEvt.value + ' cc');
      });
      priceSliderModal.on('slideStop', function(slideEvt) {
      	priceSliderValueModal.text('$' + slideEvt.value);
      });
      mileageSliderModal.on('slideStop', function(slideEvt) {
      	mileageSliderValueModal.text(slideEvt.value + ' mi');
      });
      yearSliderModal.on('slideStop', function(slideEvt) {
      	yearSliderValueModal.text(slideEvt.value);
      });
      engineSizeSliderModal.on('slideStop', function(slideEvt) {
      	engineSizeSliderValueModal.text(slideEvt.value + ' cc');
      });
      
    // search map
      
      mapboxgl.accessToken = 'pk.eyJ1IjoibW90b21pbmlvbiIsImEiOiJjanA4eDMwN3AwNHoxM3VvNWpkMzJhbWF4In0.zFFkCLgxG2tCFjF_0_twpg';

      var map = new mapboxgl.Map({
                      container: 'search-map',
                      style: 'mapbox://styles/mapbox/streets-v10',
                      
                      <% if ( @filterrific.with_zip_code.present? ) %>
                        center: [
                          <%= @filterrific.with_zip_code.to_lon.to_f %>,
                          <%= @filterrific.with_zip_code.to_lat.to_f %>
                        ], 
                          
                      <% else %>
                        center: [-119.4179, 36.7783],
                      <% end %>   
                      
                      zoom: 5,
                      maxZoom: 15
                    });
      
      // This will let you use the .remove() function later on
      if (!('remove' in Element.prototype)) {
        Element.prototype.remove = function() {
          if (this.parentNode) {
            this.parentNode.removeChild(this);
          }
        };
      }
                
      map.on('load', function() {
        $.ajax({
          
          dataType: 'text',
          url: window.location.href.replace("/search", "/search.json"),

          success: function(data) {
            
            var myjson;
            myjson = $.parseJSON(data);
            
            var geojson = {
              type: 'FeatureCollection',
              features: myjson
            };
            
            map.addSource('locations', {
              type: 'geojson',
              data: geojson
            });
            
            var bounds = new mapboxgl.LngLatBounds();
            
            function createPopUp(currentFeature) {
              
              var popUps = document.getElementsByClassName('mapboxgl-popup');
              
              // Check if there is already a popup on the map and if so, remove it.
              if (popUps[0]) popUps[0].remove();
            
              var popup = new mapboxgl.
                              Popup({ closeOnClick: false }).
                              setLngLat(currentFeature.geometry.coordinates).
                              setHTML('<div class="row">' +
                                      '<div class="col-xs-6">' +
                                      '<img src="'+ currentFeature.properties.image +'">' +
                                      '</div>' +
                                      '<div class="col-xs-6">' +
                                      '<h3 class="search-item-title">' + currentFeature.properties.title + '</h3>' +
                                      '</div>' +
                                      '</div>').
                              addTo(map);
            }
            
            function createMapItem(currentFeature) {
              
              var mapItems = $('.map-item');
              var markers  = $('.marker');
              
              mapItems.css("display", "none")
              markers.css("background-image", "url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/map-marker-red.png')");
              
              var mapItem = $('#map-item-' + currentFeature.properties.id);
              
              mapItem.css({ "display": "block" })
            }
            
            geojson.features.forEach(function(marker) {
              
              bounds.extend(marker.geometry.coordinates);
              
              var el = document.createElement('div');
              el.className = 'marker';
              
              new mapboxgl.
                  Marker(el, { offset: [0, -23] }).
                  setLngLat(marker.geometry.coordinates).
                  addTo(map);
              
              var searchNavMap = $('.search-nav-map');
              var mapItem      = $('#map-item-' + marker.properties.id);

              el.addEventListener('click', function(e) {
                if ( $(window).width() <= 768 ) { 
                  createMapItem(marker);
                  el.style.backgroundImage = "url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/map-marker-aqua.png')";
                }
              });
              
              var searchItem = document.getElementById("search-item-" + marker.properties.id);
              
              searchItem.addEventListener('mouseover', function(e) {  
                el.style.backgroundImage = "url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/map-marker-aqua.png')";
                el.style.zIndex          = "2000";             
              });
              
              searchItem.addEventListener('mouseout', function(e) {  
                el.style.backgroundImage = "url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/map-marker-red.png')";
                el.style.zIndex          = "1000";             
              });
            });
            
            if ( $(window).width() > 768 ) { 
              map.fitBounds(bounds, { padding: 100 })
            }
            
            else {
              map.fitBounds(bounds, { padding: 50 })
            };
          },
          
          error: function() {}
        });
      });
  });
</script>

<!--title modification-->
<!--https://www.elastic.co/guide/en/elasticsearch/reference/current/_installation.html-->