<!--completed-->

<% provide(:title,       "Contact Us") %>
<% provide(:description, "Get in touch with us! Call our friendly team of experts who are ready to help you find your next ride.") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="contact">
  <div class="row">
  
    <div class="col-md-8">
      
      <div class="contact-instuctions">
        
        <div class="contact-instructions-header vertical-align">
          <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/bullhorn.png") %>
          <h1 class="contact-title">Give Us A Shout!</h1>
        </div>
        
        <p class="contact-info">
          We like to create things for fun, open-minded people. Feel free to 
          say hello!
        </p>
      </div>
      
      <div class="contact-form">
        
        <%= render 'form' %>
        
        <!--<p class="contact-legal">-->
        <!--  I have read and accept the -->
        <!--    <(perc)= link_to "Terms of Use",          '#' %>, -->
        <!--    <(perc)= link_to "Acceptable Use Policy", '#' %>, -->
        <!--    <(perc)= link_to "Privacy Policy",        '#' %>, -->
        <!--  and -->
        <!--    <(perc)= link_to "Cookie Policy",         '#' %> -->
        <!--  and I consent to the use of my data as stated in the -->
        <!--    <(perc)= link_to "Privacy Policy",        '#' %>.-->
        <!--</p>-->
      </div> 
    </div>
    
    <div class="col-md-4">
      
      <!--<= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/contact-map.png", -->
      <!--              class: "contact-map") %>-->
    
      <div class="contact-address">
        <span class="location-detail">150 W Jefferson Ave</span>
        <span class="location-detail">Detroit, MI 48226</span>
        <span class="location-detail">United States</span>
        <span class="location-detail">contact@motominion.com</span>
        <!--<span class="location-detail">1-888-555-5555</span>-->

        <ul class="contact-social-media">
          
          <li>
            <%= link_to 'https://www.facebook.com/', target: "_blank" do %>
              <i class="fa fa-facebook fa-lg"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to 'https://twitter.com/', target: "_blank" do %>
              <i class="fa fa-twitter fa-lg"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to 'https://www.linkedin.com/', target: "_blank" do %>
              <i class="fa fa-linkedin fa-lg"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to 'https://www.instagram.com/', target: "_blank" do %>
              <i class="fa fa-instagram fa-lg"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--_form should be in shared-->