<!--completed-->

<li id="feed-item-<%= feed_item.id %>" class="col-md-4 col-xs-4 feed-item">
  <div class="feed-item-image">
    
    <%= link_to feed_item, target: "_blank" do %>
      <div class="feed-item-image-content", 
           style="background-image: url('<%= feed_item.photos[0].image.url() if 
                                             feed_item.photos.length > 0 %>')">
        
      </div>
    <% end %>
    
    <% if FavoriteVehicle.
            where("vehicle_id = ? AND ( is_loved = ? OR is_liked = ? )", 
                  feed_item.id, true, true).
            exists? %>
            
      <%= link_to unfavorite_vehicle_path(feed_item),
                  method: :put,
                  class: "add-to-wish-list" do %>
        <i class="fa fa-2x fa-trash wish-list-icon" aria-hidden="true"></i>
      <% end %>
     
    <% else %>
    
      <%= link_to favorite_vehicle_path(feed_item, is_loved: true), 
                  method: :put,
                  class: "add-to-wish-list" do %>
        <i class="fa fa-2x fa-heart-o wish-list-icon" aria-hidden="true"></i>
      <% end %>
    <% end %>
    
    <!--<(perc) if feed_item.dealership.present? %>-->
      <div class="special-offer"
           id="feed-item-special-offer-<%= feed_item.id %>">
        
        <span class="special-offer-score">
          <%= feed_item.listing_score.overall_score %>
        </span>
        
        <span class="special-offer-description">Listing Score</span>
        
        <!--<i class="fa fa-lg fa-tag special-offer-icon"></i>-->
        
        <!--<div type="button" -->
        <!--     class="special-offer-button" -->
        <!--     data-id="<(perc)= feed_item.id %>"-->
        <!--     data-toggle="modal" -->
        <!--     data-target="#modal-special-offer">-->
        <!--  Special Offer-->
        <!--</div>-->
      </div>
    <!--<(perc) end %>-->
  </div>

  <%= link_to feed_item, target: "_blank" do %>
    <div class="row">
          
      <div class="col-xs-3 feed-item-user">
          <div class="feed-item-user-content">
            
            <% if feed_item.user.present? %>
              <!--<div class="avatar-and-online">-->
                
                <div class="feed-item-avatar avatar-general",
                     style="background-image: url(
                       '<%= feed_item.user.avatar.url(:thumb) %>')">
                </div>
              
                <!--<(perc) if feed_item.user.online? %>-->
                <!--  <div class="online online-lg-primary hidden-xs"></div>-->
                <!--<(perc) end %>-->
              <!--</div>-->
              
            <% else %>
              <div class="avatar-verified">
              
                <div class="search-item-avatar avatar-general", 
                     style="background-image: url(
                           '<%= feed_item.dealership.users.sample(1).first.avatar.url(:thumb) %>')">
                </div>
                
                <div class="verified-check">
                  <i class="fa fa-check verified-check-icon" 
                     aria-hidden="true"></i>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        
        <div class="col-xs-9">
          <div class="feed-item-info">
            
            <span class="feed-item-title">
              
              <% if feed_item.actual_price.present? %>
                $<%= feed_item.actual_price %> | 
              <% elsif feed_item.msrp.present? %>
                $<%= feed_item.msrp %> | 
              <% end %>
              
              <%= feed_item.listing_name %>
            </span>
  
            <div id="average-rating-feed-item-<%= feed_item.id %>", 
                 class="average-rating-feed-item"></div>
            
            <span class="feed-item-review-count">
            
              <% if feed_item.dealership.present? && 
                    feed_item.dealership_id != 1 && 
                    feed_item.dealership_id != 2 %>
                <%= pluralize(feed_item.dealership.google_reviews.count, 
                              "review") %>
                
              <% else %>
                <%= pluralize(feed_item.reviews.count, "review") %>
              <% end %>
            </span>
            
            <div class="feature-list">
            
              <i class="fa fa-lg fa-info-circle feature-list-icon"></i>
    
              <ol class="feature-list-content">
              
                <li>Motorcycle Features</li>
              
                <% if feed_item.cruise_control %>
                  <li>Cruise Control</li>
                <% end %>
                
                <% if feed_item.am_fm %>
                  <li>AM / FM Radio</li>
                <% end %>
                
                <% if feed_item.navigation_system %>
                  <li>Navigation System</li>
                <% end %>
                
                <% if feed_item.heated_seats %>
                  <li>Heated Seats</li>
                <% end %>
                
                <% if feed_item.heated_hand_grips %>
                  <li>Heated Hand Grips</li>
                <% end %>
                
                <% if feed_item.alarm_system %>
                  <li>Alarm System</li>
                <% end %>
                
                <% if feed_item.saddlebags %>
                  <li>Saddlebags</li>
                <% end %>
                
                <% if feed_item.trunk %>
                  <li>Trunk</li>
                <% end %>
                
                <% if feed_item.tow_hitch %>
                  <li>Tow Hitch</li>
                <% end %>
                
                <% if feed_item.cycle_cover %>
                  <li>Cycle Cover</li>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</li>

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('#average-rating-feed-item-<%= feed_item.id %>');
  
      <% if feed_item.dealership.present? && 
            feed_item.dealership_id != 1 && 
            feed_item.dealership_id != 2 %>
        averageRating.raty({
          path:     '/assets',
          readOnly: true,
          score:    <%= feed_item.dealership.google_place_rating %>
        });
      
      <% else %>
        averageRating.raty({
          path:     '/assets',
          readOnly: true,
          score:    <%= feed_item.average_rating %>
        });  
      <% end %>
  });
</script>