<!--completed-->

<footer class="footer">
  
  <div class="footer-call-us">
    <div class="footer-call-us-content">
    
      <h3 class="call-us-title">Talk to our friendly team of experts</h3>
      
      <div class="call-us-info">
        <span class="call-us-number">contact@motominion.com</span>
        <span class="call-us-text">Don't be shy!</span>
        <!--<span class="call-us-number">1-888-555-5555</span>-->
        <!--<span class="call-us-text">Call us for free</span>-->
      </div>
    </div>
  </div>
  
  <div class="footer-links">
    <div class="row">
    
      <div class="col-md-3">
        
        <h3 class="footer-logo">MOTOMINION</h3>
        
        <ul class="footer-social-media">
          
          <li>
            <%= link_to 'https://www.facebook.com/MotominionMotorcycles/', 
                        target: "_blank" do %>
              <i class="fa fa-facebook fa-lg"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to 'https://twitter.com/motominion', 
                        target: "_blank" do %>
              <i class="fa fa-twitter fa-lg"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to 'https://www.linkedin.com/company/motominion/about/',
                        target: "_blank" do %>
              <i class="fa fa-linkedin fa-lg"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to 'https://www.instagram.com/motominion_motorcycles/', 
                        target: "_blank" do %>
              <i class="fa fa-instagram fa-lg"></i>
            <% end %>
          </li>
        </ul>
      </div>
      
      <div class="col-md-2 footer-nav">
        <nav>
          
          <h3 class="footer-nav-title">Company</h3>
          
          <ul class="footer-nav-list">
            <li><%= link_to "About",    about_path %></li>
            <li><%= link_to "Contact",  new_enquiry_path %></li>
            <!--<li><(perc)= link_to "Careers",  '#' %></li>-->
            <!--<li><(perc)= link_to "Partners", '#' %></li>-->
          </ul>
        </nav>
      </div>
      
      <div class="col-md-2 footer-nav">
        <nav>
          
          <h3 class="footer-nav-title">Help</h3>
        
          <ul class="footer-nav-list">
            <li><%= link_to "Dealers", new_dealership_path %></li>
          </ul>
        </nav>
      </div>
      
      <div class="col-md-5">
        <nav>
          <ul class="footer-legal">
            <!--<li><(perc)= link_to "Cookies", legal_path %></li>-->
            <!--<li><(perc)= link_to "Privacy", legal_path %></li>-->
            <!--<li><(perc)= link_to "Terms",   legal_path %></li>-->
            <li>&copy 2018 Motominion</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>