<!--completed-->

<div class="header-profile">
  <div class="header-profile-content">
    <div class="row vertical-align">
      
      <div class="col-xs-8 vertical-align">
        
        <div class="avatar-and-online">
          
          <div class="header-profile-avatar avatar-general",
               style="background-image: url('<%= @user.avatar.url(:thumb) %>')">
          </div>
          
          <% if @user.online? %>
            <div class="online online-md-primary"></div>
          <% end %>
        </div>
        
        <div class="header-profile-info">
          <span class="header-profile-username"><%= @user.full_name %></span>
        </div>
      </div>
      
      <div class="col-xs-4">

        <!--< if logged_in? %>-->
          <%= form_for @conversation, 
                       url: conversations_path(@conversation), 
                       method: :post do |f| %>
                       
            <%= f.hidden_field :sender_id,          value: current_user.id if 
                                                           current_user %>
            
            <%= f.hidden_field :recipient_id,       value: @user.id %>
            
            <%= f.hidden_field :sender_archived,    value: false %>
  
            <%= f.hidden_field :recipient_archived, value: false %>
            
            <%= f.submit "Chat with " + @user.first_name, 
                         class: "btn-header-profile" %>
          <% end %>
                          
        <!--< else %>-->
        <!--  <= button_to "Contact Seller", -->
        <!--                login_path, -->
        <!--                class: "btn-header-profile", -->
        <!--                method: :get %>-->
        <!--< end %>-->
        
        <!--<(perc)= button_to conversations_path(@conversation), -->
        <!--              class:  "btn-header-profile",-->
        <!--              method: :post %>-->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(window).on('scroll', function() {
        
      // fixed header
        var fixedHeader = $('.header-fixed-hidden');
        var scrolltop   = $(this).scrollTop();
        
        if(scrolltop >= 655) {
          fixedHeader.fadeIn(250);
        }
        else if(scrolltop <= 650) {
          fixedHeader.fadeOut(250);
        }
    });
  });
</script>