<h2 class="sidenav-title">
  Profile
</h2>

<ul class="sidenav-list">
  
  <li class="<%= 'sidenav-active' if 
                 current_page?(edit_user_path(current_user)) %>">
    <%= link_to "Edit Profile", edit_user_path(current_user) %>
  </li>
  
  <% if current_user.dealership_id.present? %>
    <li class="<%= 'sidenav-active' if 
                   current_page?(
                     edit_dealership_path(current_user.dealership_id)
                    ) %>">
      <%= link_to "Company Details", 
                  edit_dealership_path(current_user.dealership_id) %>
    </li>
  <% end %>
  
  <% if current_user.dealership_id.blank? %>
    <li class="<%= 'sidenav-active' if 
                   current_page?(user_reviews_path(current_user)) %>">
      <%= link_to user_reviews_path(current_user) do %>
        Reviews (<%= Review.where(reviewed_id: current_user.id).count %>)
      <% end %>
    </li>
  <% end %>
  
  <% if current_user.id == 24  %>
    <li class="<%= 'sidenav-active' if current_page?(admin_path) %>">
      <%= link_to "Admin Overview", admin_path %>
    </li>
  <% end %>
</ul>

<!--<= link_to 'View Profile', -->
<!--            user_path, -->
<!--            class: "btn btn-tertiary btn-backend-profile" %>-->